.center-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.card-body2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.languageBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.displayBySide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1600px) {
    .displayBySide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;

        .smallInput {
            max-width: 12rem;
        }

        .smallInputMittagAnz {
            max-width: 8rem;
        }

        .smallInputSide {
            max-width: 12rem;
        }
    }
}