<div class="header">
    <div>
        <h1 class="paddingSearch" style="margin-bottom: 0;">{{'NAV.new-re' | translate}}</h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-danger">{{'CREATION_SITES.general_data' | translate}}</div>
            <div class="card-body">
                <div class="center-items">
                    <mat-form-field class="smallInput">
                        <mat-label>{{'CREATION_SITES.first_name' | translate}}</mat-label>
                        <input required matInput type="text" [(ngModel)]="inputRepresentative.firstName"
                            name="firstName">
                    </mat-form-field>
                    <mat-form-field class="smallInput">
                        <mat-label>{{'CREATION_SITES.last_name' | translate}}</mat-label>
                        <input required matInput type="text" [(ngModel)]="inputRepresentative.lastName"
                            name="lastName">
                    </mat-form-field>
                    <div class="displayBySide">
                        <mat-form-field class="smallInput">
                            <mat-label>{{'CREATION_SITES.email' | translate}}</mat-label>
                            <input required matInput type="text" [(ngModel)]="inputRepresentative.email">
                        </mat-form-field>

                        <label class="languageBox">{{'CREATION_SITES.active' | translate}}
                            <mat-checkbox color="warn" [(ngModel)]="inputRepresentative.active"></mat-checkbox>
                        </label>
                    </div>
                    <div class="displayBySide">
                        <button class="btn btn-danger" matTooltip="{{'DASHBOARD.cancel' | translate}}"
                            [hidden]="inputRepresentative.id===0" (click)="cancelEdit()"><i
                                class="fa fa-times"></i></button>
                        <button class="btn btn-success" matTooltip="{{'STANDARD.save' | translate}}"
                            (click)="postRepresentative()"><i class="fa fa-save"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <nz-table class="col" #editRowTable [nzPageSize]="9" nzBordered [nzData]="representativeList">
            <thead>
                <tr>
                    <th>{{'CREATION_SITES.id' | translate}}</th>
                    <th>{{'CREATION_SITES.first_name' | translate}}</th>
                    <th>{{'CREATION_SITES.last_name' | translate}}</th>
                    <th>{{'CREATION_SITES.active' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr matTooltip="{{'CREATION_SITES.click_to_edit' | translate}}" (click)="editRow(repentative.id!, 1)"
                    *ngFor="let repentative of editRowTable.data">
                    <td>{{repentative.id}}</td>
                    <td>{{repentative.firstName}}</td>
                    <td>{{repentative.lastName}}</td>
                    <td>
                        <span *ngIf="repentative.active" class="text-success">&#10004;</span>
                        <span *ngIf="!repentative.active" class="text-danger">&#10005;</span>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>