<div class="header">
    <div>
        <h1 class="paddingSearch" style="margin-bottom: 0;">{{'VISITOR-REGISTRATION.header' | translate}}</h1>
    </div>
    <button class="btn btn-success" (click)="postVisitorRegistration()">{{'VISITOR-REGISTRATION.headerButton' |
        translate}}</button>
</div>
<hr>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-danger">{{'VISITOR-REGISTRATION.representativeOrEmployee' |
                translate}}</div>
            <div class="card-body">
                <div class="center-items">
                    <div class="displayBySide">
                        <mat-form-field class="smallInputSide">
                            <mat-label>{{"VISITOR-REGISTRATION.name" | translate}}</mat-label>
                            <input matInput [(ngModel)]="inputVisitRegistration.name">
                        </mat-form-field>
                        <mat-form-field class="smallInputSide">
                            <mat-label>{{"VISITOR-REGISTRATION.reason" | translate}}</mat-label>
                            <input matInput [(ngModel)]="inputVisitRegistration.inputReason">
                        </mat-form-field>
                    </div>
                    <div class="displayBySide">
                        <mat-form-field class="smallInput">
                            <mat-label>{{"VISITOR-REGISTRATION.from" | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker1" [(ngModel)]="inputVisitRegistration.fromDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="TIME">
                            <mat-label>{{"VISITOR-REGISTRATION.fromTime" | translate}}</mat-label>
                            <input type="time" matInput [(ngModel)]="inputVisitRegistration.fromTime">
                        </mat-form-field>
                    </div>
                    <div class="displayBySide">
                        <mat-form-field class="smallInput">
                            <mat-label>{{"VISITOR-REGISTRATION.to" | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker2" [(ngModel)]="inputVisitRegistration.toDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field  class="TIME">
                            <mat-label>{{"VISITOR-REGISTRATION.toTime" | translate}}</mat-label>
                            <input type="time" matInput [(ngModel)]="inputVisitRegistration.toTime">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header  text-white bg-danger">{{"VISITOR-REGISTRATION.customerVisit" | translate}}</div>
            <div class="card-body">
                <div class="center-items">
                    <div class="paddingSearch">
                        <mat-form-field style="max-width: 11.5rem;">
                            <mat-label>{{"VISITOR-REGISTRATION.customerCompany" | translate}}</mat-label>
                            <input matInput required [(ngModel)]="inputVisitRegistration.customerOrCompany"> <!--TODO Not Binded-->
                        </mat-form-field>
                        <button class="btn btn-success teilButton"
                            matTooltip="{{'VISITOR-REGISTRATION.seminarRegistration' | translate}}"
                            (click)="openDialog((inputVisitRegistration.guests !== null && inputVisitRegistration.guests !== undefined)?inputVisitRegistration.guests:[])">
                            <i class="fas fa-user-friends"></i>
                        </button>
                    </div>
                    <mat-form-field>
                        <mat-label>{{'VISITOR-REGISTRATION.arrivalFromCountry' | translate}}</mat-label>
                        <input matInput [(ngModel)]="inputVisitRegistration.arrivalFromCountry">
                    </mat-form-field>
                    <div class="displayBySide">
                        <mat-form-field>
                            <mat-label>{{'VISITOR-REGISTRATION.reasonOfVisit' | translate}}</mat-label>
                            <input matInput [(ngModel)]="inputVisitRegistration.reasonForVisit">
                        </mat-form-field>
                        <label class="languageBox">EN
                            <mat-checkbox color="warn" [(ngModel)]="inputVisitRegistration.languageEN"></mat-checkbox>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header  text-white bg-danger">{{'VISITOR-REGISTRATION.periodOfStayOftering' | translate}}
            </div>
            <div class="card-body">
                <div class="center-items">
                    <mat-form-field>
                        <mat-label>{{'VISITOR-REGISTRATION.responsibleSupervisor' | translate}}</mat-label>
                        <input matInput [(ngModel)]="inputVisitRegistration.responsibleSupervisor">
                    </mat-form-field>

                    <div class="displayBySide">
                        <mat-form-field class="smallInput">
                            <mat-label>{{'VISITOR-REGISTRATION.from' | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker3" [(ngModel)]="inputVisitRegistration.stayFromDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field  class="TIME">
                            <mat-label>{{'VISITOR-REGISTRATION.fromTime' | translate}}</mat-label>
                            <input type="time" matInput [(ngModel)]="inputVisitRegistration.stayFromTime">
                        </mat-form-field>
                    </div>
                    <div class="displayBySide">
                        <mat-form-field class="smallInput">
                            <mat-label>{{'VISITOR-REGISTRATION.to' | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker4" [(ngModel)]="inputVisitRegistration.stayToDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                            <mat-datepicker #picker4></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field  class="TIME">
                            <mat-label>{{'VISITOR-REGISTRATION.toTime' | translate}}</mat-label>
                            <input type="time" matInput [(ngModel)]="inputVisitRegistration.stayToTime">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-danger">{{'VISITOR-REGISTRATION.furtherMore' | translate}}</div>
            <mat-button-toggle-group [(ngModel)]="buttonSelect" (valueChange)="changeSelections()" vertical multiple>
                <mat-button-toggle value="1">{{'VISITOR-REGISTRATION.companyGuidance' | translate}}</mat-button-toggle>
                <mat-button-toggle value="2">{{'VISITOR-REGISTRATION.meetingRoom' | translate}}</mat-button-toggle>
                <mat-button-toggle value="3">{{'VISITOR-REGISTRATION.airportTransferTrain' | translate}}</mat-button-toggle>
                <mat-button-toggle value="4">{{'VISITOR-REGISTRATION.mealTime' | translate}}</mat-button-toggle>
                <mat-button-toggle value="5">{{'VISITOR-REGISTRATION.hotelBooking' | translate}}</mat-button-toggle>
                <mat-button-toggle value="6">{{'VISITOR-REGISTRATION.plannedDepartmentVisits' | translate}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-4 paddingBottom" *ngIf="buttonSelect.includes('1')">
        <div class="card" hideToggle>
            <div class="card-header bg-danger text-white">{{'VISITOR-REGISTRATION.companyGuidance' | translate}}</div>
            <div class="card-body minheigtCard">
                <div class="displayBySide">
                    <div class="center-items">
                        <mat-form-field class="smallInput">
                            <mat-label>{{'VISITOR-REGISTRATION.peopleCount' | translate}}</mat-label>
                            <input matInput [(ngModel)]="inputVisitRegistration.numberOfPeopleTour">
                        </mat-form-field>
                        <label class="languageBox">{{'VISITOR-REGISTRATION.languageEN' | translate}}
                            <mat-checkbox color="warn"
                                [(ngModel)]="inputVisitRegistration.tourLanguageEN"></mat-checkbox>
                        </label>
                    </div>
                    <div class="center-items">
                        <mat-form-field class="smallInput">
                            <mat-label>{{'VISITOR-REGISTRATION.date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker5" [(ngModel)]="inputVisitRegistration.tourDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                            <mat-datepicker #picker5></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field  class="TIME">
                            <mat-label>{{'VISITOR-REGISTRATION.dateTime' | translate}}</mat-label>
                            <input type="time" matInput [(ngModel)]="inputVisitRegistration.tourTime">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 paddingBottom" *ngIf="buttonSelect.includes('2')">
        <div class="card" hideToggle>
            <div class="card-header bg-danger text-white">{{'VISITOR-REGISTRATION.meetingRoom' | translate}}</div>
            <div class="card-body minheigtCard">
                <div class="displayBySide">
                    <div class="besprechunsraum">
                        <mat-form-field class="smallInput">
                            <mat-label>{{'VISITOR-REGISTRATION.peopleCount' | translate}}</mat-label>
                            <input matInput [(ngModel)]="inputVisitRegistration.numberOfPeopleMeetingRoom">
                        </mat-form-field>
                    </div>
                    <div class="center-items">
                        <mat-form-field class="smallInput">
                            <mat-label>{{'VISITOR-REGISTRATION.date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker5"
                                [(ngModel)]="inputVisitRegistration.meetingRoomDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                            <mat-datepicker #picker5></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field  class="TIME">
                            <mat-label>{{'VISITOR-REGISTRATION.dateTime' | translate}}</mat-label>
                            <input type="time" matInput [(ngModel)]="inputVisitRegistration.meetingRoomTime">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 paddingBottom" *ngIf="buttonSelect.includes('3')">
        <div class="card" hideToggle>
            <div class="card-header bg-danger text-white">{{'VISITOR-REGISTRATION.airportTransferTrain' | translate}}
            </div>
            <div class="card-body minheigtCard">
                <div class="displayBySide">
                    <div class="center-items">
                        <mat-form-field class="smallInput">
                            <mat-label>{{'VISITOR-REGISTRATION.date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker5"
                                [(ngModel)]="inputVisitRegistration.transferFromDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                            <mat-datepicker #picker5></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="smallInput">
                            <mat-label>{{'VISITOR-REGISTRATION.otherReq' | translate}}</mat-label>
                            <input matInput [(ngModel)]="inputVisitRegistration.otherTravelRequirements">
                        </mat-form-field>
                    </div>
                    <div class="center-items">
                        <mat-form-field class="smallInput">
                            <mat-label>{{'VISITOR-REGISTRATION.from' | translate}}</mat-label>
                            <input matInput [(ngModel)]="inputVisitRegistration.transferFrom">
                        </mat-form-field>
                        <mat-form-field class="smallInput">
                            <mat-label>{{'VISITOR-REGISTRATION.toPlace' | translate}}</mat-label>
                            <input matInput [(ngModel)]="inputVisitRegistration.transferTo">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 paddingBottom" *ngIf="buttonSelect.includes('4')">
        <div class="card" hideToggle>
            <div class="card-header bg-danger text-white">{{'VISITOR-REGISTRATION.mealTime' | translate}}</div>
            <div class="card-body minheigtCard">
                <div class="displayBySide">
                    <div class="mittagCenter">
                        <mat-form-field class="smallInputMittagAnz">
                            <mat-label>{{'VISITOR-REGISTRATION.count' | translate}}</mat-label>
                            <input type="number" min="0" matInput [(ngModel)]="inputVisitRegistration.lunchNumber">
                        </mat-form-field>
                        <mat-form-field class="smallInput">
                            <mat-label>{{'VISITOR-REGISTRATION.date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker7" [(ngModel)]="inputVisitRegistration.lunchDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker7"></mat-datepicker-toggle>
                            <mat-datepicker #picker7></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field  class="TIME">
                            <mat-label>{{'VISITOR-REGISTRATION.dateTime' | translate}}</mat-label>
                            <input type="time" matInput [(ngModel)]="inputVisitRegistration.lunchTime">
                        </mat-form-field>
                    </div>
                    <div class="center-items">
                        <div class="displayBySide">
                            <mat-form-field class="smallInput">
                                <mat-label>{{'VISITOR-REGISTRATION.vegan' | translate}}</mat-label>
                                <input type="number" min="0" matInput [(ngModel)]="inputVisitRegistration.veganMeals">
                            </mat-form-field>
                            <mat-form-field class="smallInput">
                                <mat-label>{{'VISITOR-REGISTRATION.vegetarian' | translate}}</mat-label>
                                <input type="number" min="0" matInput
                                    [(ngModel)]="inputVisitRegistration.vegetarianMeals">
                            </mat-form-field>
                        </div>
                        <div class="displayBySide">
                            <mat-form-field class="smallInput">
                                <mat-label>{{'VISITOR-REGISTRATION.other' | translate}}</mat-label>
                                <input type="text" matInput [(ngModel)]="inputVisitRegistration.otherMealsDescription">
                            </mat-form-field>
                            <mat-form-field class="smallInput">
                                <mat-label>{{'VISITOR-REGISTRATION.count' | translate}}</mat-label>
                                <input type="number" min="0" matInput
                                    [(ngModel)]="inputVisitRegistration.otherMealsNumber">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 paddingBottom" *ngIf="buttonSelect.includes('5')">
        <div class="card">
            <div class="card-header text-white bg-danger paddingSearch">{{'VISITOR-REGISTRATION.hotelBooking' |
                translate}} </div>
            <div class="card-body">
                @for (hotelbooking of inputVisitRegistration.hotelBookings; track hotelbooking; let index = $index) {
                <p>{{index+1}}. Hotelbuchung</p>
                <div class="displayBySide">
                    <div class="center-items">
                        <mat-form-field class="smallInputSpecial">
                            <mat-label>{{'VISITOR-REGISTRATION.place' | translate}}</mat-label>
                            <input matInput [(ngModel)]="hotelbooking.hotelLocation">
                        </mat-form-field>
                        <mat-form-field class="smallInputSpecial">
                            <mat-label>{{'VISITOR-REGISTRATION.fromTo' | translate}}</mat-label>
                            <mat-date-range-input [rangePicker]="picker3">
                                <input matStartDate placeholder="Start date" [(ngModel)]="hotelbooking.hotelStayFromDate">
                                <input matEndDate placeholder="End date" [(ngModel)]="hotelbooking.hotelStayToDate">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker3></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <div class="center-items">
                        <mat-form-field class="smallInputSpecial">
                            <mat-label>{{'VISITOR-REGISTRATION.singleRoom' | translate}}</mat-label>
                            <input type="number" min="0" matInput  [(ngModel)]="hotelbooking.singleRooms">
                        </mat-form-field>
                        <mat-form-field class="smallInputSpecial">
                            <mat-label>{{'VISITOR-REGISTRATION.doubleRoom' | translate}}</mat-label>
                            <input type="number" min="0" matInput  [(ngModel)]="hotelbooking.doubleRooms">
                        </mat-form-field>
                    </div>
                </div>
                }
                <div class="header">
                    <div>
                        <button (click)="deleteLast()" class="btn btn-danger"><i class="fa fa-minus"></i></button>
                    </div>
                    <div>
                        <button (click)="addTab()" class="btn btn-success"> <i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 paddingBottom" *ngIf="buttonSelect.includes('6')">
        <div class="card" style="min-height: 30rem;" hideToggle>
            <div class="card-header bg-danger text-white">{{'VISITOR-REGISTRATION.plannedDepartmentVisits' | translate}}
            </div>
            <div class="card-body">
                <div class="displayBySide">
                    <nz-table class="col" [nzShowPagination]="false" [nzData]="buttonSelect" [nzSize]="'small'"
                        nzBordered nzNoResult>
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{'VISITOR-REGISTRATION.department' | translate}}</th>
                                <th width="150px">{{'VISITOR-REGISTRATION.date' | translate}}</th>
                            </tr>
                        </thead>
                        <!--TODO Backend für abteilungsbesuche machen -->
                        <tbody nzNoResult>
                            <tr *ngFor="let data of listOfCurrentPageData">
                                <td [nzChecked]="setOfCheckedId.has(data.id)"
                                    (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                                <td>{{'VISITOR-REGISTRATION.'+data.name | translate}}</td>
                                <td>
                                    <input type="date" [ngModel]="(setOfCheckedId.get(data.id)!==undefined)?setOfCheckedId.get(data.id)![1]:''"
                                        (ngModelChange)="inputDateChange(data.id, $event)" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
</div>