<div class="header">
    <div class="header">
        <h1 class="paddingSearch" style="margin-bottom: 0;">{{"VISITOR_REGRISTRATION.visitor_registration" | translate}}
        </h1>
        <h2 style="margin: 0%; padding-top: 0.1rem;"
            *ngIf=" inputVisitRegistration.id !== null && inputVisitRegistration.id !== undefined">
            : {{inputVisitRegistration.id}}</h2>
    </div>
    <div>
        <button
            [disabled]="inputVisitRegistration.releaseManagement !== null && inputVisitRegistration.releaseManagement !== undefined"
            (nzOnConfirm)="release('gl')" *ngIf="roleService.checkPermission([1,7])" style="margin-right: 2rem;"
            nz-button nzType="primary" nz-popconfirm nzPopconfirmShowArrow="false" [nzIcon]="iconTpl"
            [nzCancelText]="'DASHBOARD.cancel' | translate" [nzOkText]="'STANDARD.ok' | translate"
            [nzPopconfirmTitle]="'STANDARD.are_you_sure' | translate">
            <ng-template #iconTpl></ng-template>
            {{"CUSTOMER_REQUIREMENTS.approval_gl" | translate}}
        </button>
        <button
            [disabled]="inputVisitRegistration.releaseSupervisor !== null && inputVisitRegistration.releaseSupervisor !== undefined"
            (nzOnConfirm)="release('al')" *ngIf="roleService.checkPermission([1,2,7])" style="margin-right: 2rem;"
            nz-button nzType="primary" nz-popconfirm nzPopconfirmShowArrow="false" [nzIcon]="iconTpl"
            [nzCancelText]="'DASHBOARD.cancel' | translate" [nzOkText]="'STANDARD.ok' | translate"
            [nzPopconfirmTitle]="'STANDARD.are_you_sure' | translate">
            <ng-template #iconTpl></ng-template>
            {{"CUSTOMER_REQUIREMENTS.approval_al" | translate}}
        </button>
    </div>
    <div>
        <button style="margin-right: 2px;"
            *ngIf="inputVisitRegistration.id !== null && inputVisitRegistration.id !== undefined"
            class="btn btn-secondary" (click)="getPdf()">PDF
        </button>
        <button class="btn btn-success"
            *ngIf="(inputVisitRegistration.creator === undefined && roleService.checkPermission([6])) || roleService.checkPermission([1,2,3,4,5,7])"
            (click)="checkPopup()">{{'CUSTOMER_REQUIREMENTS.send_form' |
            translate}}</button>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div style="font-size: small;" class="card-header text-white bg-danger">
                {{'VISITOR_REGRISTRATION.almi_group_employee_registration' |
                translate}}</div>
            <div class="card-body">
                <div class="displayBySide">
                    <mat-form-field style="margin-right: 0.5rem;" class="smallInputSide">
                        <mat-label>{{"VISITOR_REGRISTRATION.name" | translate}}</mat-label>
                        <textarea rows="1" matInput [(ngModel)]="inputVisitRegistration.name"></textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="{{'DASHBOARD.reason'|translate}} "
                            [(ngModel)]="inputVisitRegistration.inputReason">
                            <mat-option [value]="'0'">--</mat-option>
                            <mat-option [value]="'1'">{{"VISITOR_REGRISTRATION.select1" | translate}}</mat-option>
                            <mat-option [value]="'2'">{{"VISITOR_REGRISTRATION.select2" | translate}}</mat-option>
                            <mat-option [value]="'3'">{{"VISITOR_REGRISTRATION.select3" | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="displayBySide">
                    <mat-form-field class="smallInput">
                        <mat-label>{{"DASHBOARD.from" | translate}}</mat-label>
                        <input matInput [matDatepicker]="picker1" [(ngModel)]="inputVisitRegistration.fromDate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="TIME">
                        <mat-label>{{"VISITOR_REGRISTRATION.time" | translate}}</mat-label>
                        <input required type="time" matInput [(ngModel)]="inputVisitRegistration.fromTime">
                        @if (control.hasError('required')) {
                        <mat-error></mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="displayBySide">
                    <mat-form-field class="smallInput">
                        <mat-label>{{"DASHBOARD.to" | translate}}</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="inputVisitRegistration.toDate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="TIME">
                        <mat-label>{{"VISITOR_REGRISTRATION.time" | translate}}</mat-label>
                        <input required type="time" matInput [(ngModel)]="inputVisitRegistration.toTime">
                        @if (control.hasError('required')) {
                        }
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header  text-white bg-danger">{{"VISITOR_REGRISTRATION.customer_visit_registration" |
                translate}}
            </div>
            <div class="card-body">
                <div class="paddingSearch">
                    <mat-form-field style="margin-right: 0.5rem;">
                        <mat-label>{{"VISITOR_REGRISTRATION.customer_company" | translate}}</mat-label>
                        <textarea rows="1" matInput [(ngModel)]="inputVisitRegistration.customerOrCompany"></textarea>
                    </mat-form-field>
                    <button class="btn teilButton"
                        [ngClass]="{'btn-success': inputVisitRegistration.guests && inputVisitRegistration.guests.length > 0, 'btn-danger': !inputVisitRegistration.guests || inputVisitRegistration.guests.length === 0}"
                        matTooltip="{{'VISITOR_REGRISTRATION.participant_list' | translate}}"
                        (click)="openDialog((inputVisitRegistration.guests !== null && inputVisitRegistration.guests !== undefined) ? inputVisitRegistration.guests : [])">
                        <i class="fas fa-user-friends"></i>
                    </button>
                </div>
                <mat-form-field>
                    <mat-label>{{'VISITOR_REGRISTRATION.arrival_from_country' | translate}}</mat-label>
                    <input matInput [(ngModel)]="inputVisitRegistration.arrivalFromCountry">
                </mat-form-field>
                <div class="displayBySide">
                    <mat-form-field>
                        <mat-select placeholder="{{'ABSCHLUSSBERICHT.visit_reason_general' | translate}}"
                            [(ngModel)]="inputVisitRegistration.reasonForVisit">
                            <mat-option [value]="'0'">--</mat-option>
                            <mat-option style="height: 4rem;" [value]="'1'">{{"VISITOR_REGRISTRATION.select4" |
                                translate}}</mat-option>
                            <mat-option style="height: 4rem;" [value]="'2'">{{"VISITOR_REGRISTRATION.select5" |
                                translate}}</mat-option>
                            <mat-option style="height: 4rem;" [value]="'3'">{{"VISITOR_REGRISTRATION.select6" |
                                translate}}</mat-option>
                            <mat-option [value]="'3'">{{"VISITOR_REGRISTRATION.select7" | translate}}</mat-option>
                            <mat-option [value]="'3'">{{"VISITOR_REGRISTRATION.select3" | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <label class="languageBox">{{'STANDARD.language_en' | translate}}
                        <mat-checkbox color="warn" [(ngModel)]="inputVisitRegistration.languageEN"></mat-checkbox>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header  text-white bg-danger">{{'VISITOR_REGRISTRATION.stay_in_oftering' |
                translate}}
            </div>
            <div class="card-body">
                <mat-form-field>
                    <mat-label>{{"MAIN_LIST.representative"|translate}}</mat-label>
                    <mat-select
                        [ngModel]="(inputVisitRegistration.representative === null ||inputVisitRegistration.representative === undefined)?0:inputVisitRegistration.representative.id"
                        (valueChange)="changeRepresentative($event)">
                        <mat-option [value]="0">--</mat-option>
                        @for (r of representative; track representative) {
                        <mat-option [value]="r.id">{{r.firstName}} {{r.lastName}}</mat-option>
                        }
                    </mat-select>
                    <!--
                    @if (tohaControl.hasError('required')) {
                    <mat-error>{{"REQ-TECH.none-select" | translate}}</mat-error>
                    }--><!--TODO Error einfügen-->
                </mat-form-field>

                <div class="displayBySide">
                    <mat-form-field class="smallInput">
                        <mat-label>{{'DASHBOARD.from' | translate}}</mat-label>
                        <input matInput [matDatepicker]="picker3" [(ngModel)]="inputVisitRegistration.stayFromDate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="TIME">
                        <mat-label>{{'VISITOR_REGRISTRATION.time' | translate}}</mat-label>
                        <input type="time" matInput [(ngModel)]="inputVisitRegistration.stayFromTime">
                    </mat-form-field>
                </div>
                <div class="displayBySide">
                    <mat-form-field class="smallInput">
                        <mat-label>{{'DASHBOARD.to' | translate}}</mat-label>
                        <input matInput [matDatepicker]="picker4" [(ngModel)]="inputVisitRegistration.stayToDate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="TIME">
                        <mat-label>{{'VISITOR_REGRISTRATION.time' | translate}}</mat-label>
                        <input type="time" matInput [(ngModel)]="inputVisitRegistration.stayToTime">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-danger">{{'VISITOR_REGRISTRATION.additional_requirements' |
                translate}}</div>
            <mat-button-toggle-group [(ngModel)]="buttonSelect" (valueChange)="changeSelections()" vertical multiple>
                <mat-button-toggle value="1">{{'VISITOR_REGRISTRATION.factory_tour' |
                    translate}}</mat-button-toggle>
                <mat-button-toggle value="2">{{'VISITOR_REGRISTRATION.meeting_room' | translate}}</mat-button-toggle>
                <mat-button-toggle value="3">{{'VISITOR_REGRISTRATION.airport_transfer_train' |
                    translate}}</mat-button-toggle>
                <mat-button-toggle value="4">{{'VISITOR_REGRISTRATION.lunch' | translate}}</mat-button-toggle>
                <mat-button-toggle value="5">{{'CUSTOMER_REQUIREMENTS.hotel_booking' | translate}}</mat-button-toggle>
                <mat-button-toggle value="6">{{'VISITOR_REGRISTRATION.planned_department_visits' |
                    translate}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-9">
        <div class="row">
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('1')">
                <div class="card" hideToggle>
                    <div class="card-header bg-danger text-white">{{'VISITOR_REGRISTRATION.factory_tour' |
                        translate}}
                    </div>
                    <div class="card-body minheigtCard">
                        <div class="displayBySide">
                            <div class="center-items">
                                <mat-form-field class="smallInput">
                                    <mat-label>{{'VISITOR_REGRISTRATION.number' | translate}}</mat-label>
                                    <input matInput min="0" type="number"
                                        [(ngModel)]="inputVisitRegistration.numberOfPeopleTour">
                                </mat-form-field>
                                <mat-form-field class="smallInput">
                                    <mat-label>{{'VISITOR_REGRISTRATION.date' | translate}}</mat-label>
                                    <input matInput [matDatepicker]="picker5"
                                        [(ngModel)]="inputVisitRegistration.tourDate">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                                    <mat-datepicker #picker5></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="center-items">
                                <label class="languageBox">{{'STANDARD.language_en' | translate}}
                                    <mat-checkbox color="warn"
                                        [(ngModel)]="inputVisitRegistration.tourLanguageEN"></mat-checkbox>
                                </label>
                                <mat-form-field class="TIME">
                                    <mat-label>{{'VISITOR_REGRISTRATION.time' | translate}}</mat-label>
                                    <input type="time" matInput [(ngModel)]="inputVisitRegistration.tourTime">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('2')">
                <div class="card">
                    <div class="card-header text-white bg-danger paddingSearch">{{'VISITOR_REGRISTRATION.meeting_room' |
                        translate}} </div>
                    <div class="card-body">
                        @for (meetingroom of inputVisitRegistration.meetingRoomReservations; track meetingroom; let
                        index =
                        $index)
                        {<p>{{index+1}}. {{'VISITOR_REGRISTRATION.meeting_room' | translate}}</p>
                        <mat-form-field>
                            <mat-label>{{'VISITOR_REGRISTRATION.location' | translate}}</mat-label>
                            <input matInput [(ngModel)]="meetingroom.meetingRoomLocation">
                        </mat-form-field>
                        <div class="displayBySide">
                            <mat-form-field class="smallInput">
                                <mat-label>{{'VISITOR_REGRISTRATION.date' | translate}}</mat-label>
                                <input matInput [matDatepicker]="picker5" [(ngModel)]="meetingroom.meetingRoomDate">
                                <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                                <mat-datepicker #picker5></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="TIME">
                                <mat-label>{{'VISITOR_REGRISTRATION.time' | translate}}</mat-label>
                                <input type="time" matInput [(ngModel)]="meetingroom.meetingRoomTime">
                            </mat-form-field>
                        </div>
                        }
                        <div class="header">
                            <div>
                                <button (click)="deleteLast(2)" class="btn btn-danger"><i
                                        class="fa fa-minus"></i></button>
                            </div>
                            <div>
                                <button (click)="addTab(2)" class="btn btn-success"> <i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('3')">
                <div class="card" hideToggle>
                    <div class="card-header bg-danger text-white">{{'VISITOR_REGRISTRATION.airport_transfer_train' |
                        translate}}
                    </div>
                    <div class="card-body">
                        @for (flight of inputVisitRegistration.flights; track flight; let index = $index)
                        {<p>{{index+1}}. {{'SEMINAR_REGRISTRATION.travel_train' | translate}}
                        </p>
                        <div class="center-items">
                            <mat-form-field>
                                <mat-label>{{'VISITOR_REGRISTRATION.date' | translate}}</mat-label>
                                <input matInput [matDatepicker]="picker5" [(ngModel)]="flight.flightDate">
                                <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                                <mat-datepicker #picker5></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="displayBySide">
                            <mat-form-field class="smallInputSpecial">
                                <mat-label>{{'STANDARD.assigned_from' | translate}}</mat-label>
                                <input matInput [(ngModel)]="flight.flightFrom">
                            </mat-form-field>
                            <mat-form-field class="smallInputSpecial">
                                <mat-label>{{'VISITOR_REGRISTRATION.to' | translate}}</mat-label>
                                <input matInput [(ngModel)]="flight.flightTo">
                            </mat-form-field>
                        </div>
                        }
                        <div class="header">
                            <div>
                                <button (click)="deleteLast(3)" class="btn btn-danger"><i
                                        class="fa fa-minus"></i></button>
                            </div>
                            <div>
                                <button (click)="addTab(3)" class="btn btn-success"> <i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('4')">
                <div class="card" hideToggle>
                    <div class="card-header bg-danger text-white">{{'VISITOR_REGRISTRATION.lunch' | translate}}</div>
                    <div class="card-body minheigtCard">
                        <div class="displayBySide">
                            <mat-form-field class="smallInput">
                                <mat-label>{{'VISITOR_REGRISTRATION.total_number' | translate}}</mat-label>
                                <input type="number" min="0" matInput [(ngModel)]="inputVisitRegistration.lunchNumber">
                            </mat-form-field>
                            <mat-form-field class="smallInput">
                                <mat-label>{{'CUSTOMER_REQUIREMENTS.from_to' | translate}}</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input required matStartDate placeholder="Start date"
                                        [(ngModel)]="inputVisitRegistration.mealDateFrom">
                                    <input required matEndDate placeholder="End date"
                                        [(ngModel)]="inputVisitRegistration.mealDateTo">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                            <mat-form-field class="TIME">
                                <mat-label>{{'VISITOR_REGRISTRATION.time' | translate}}</mat-label>
                                <input type="time" matInput [(ngModel)]="inputVisitRegistration.lunchTime">
                            </mat-form-field>
                        </div>
                        <div class="displayBySide">
                            <mat-form-field class="smallInput">
                                <mat-label>{{'VISITOR_REGRISTRATION.vegan' | translate}}</mat-label>
                                <input
                                    matTooltip="{{inputVisitRegistration.veganMeals}}/{{inputVisitRegistration.lunchNumber}}"
                                    type="number" min="0" matInput [(ngModel)]="inputVisitRegistration.veganMeals">
                            </mat-form-field>
                            <mat-form-field class="smallInput">
                                <mat-label>{{'VISITOR_REGRISTRATION.halal' | translate}}</mat-label>
                                <input
                                    matTooltip="{{inputVisitRegistration.halalMeals}}/{{inputVisitRegistration.lunchNumber}}"
                                    type="number" min="0" matInput [(ngModel)]="inputVisitRegistration.halalMeals">
                            </mat-form-field>
                            <mat-form-field class="smallInput">
                                <mat-label>{{'VISITOR_REGRISTRATION.other' | translate}}</mat-label>
                                <input type="text" matInput [(ngModel)]="inputVisitRegistration.otherMealsDescription">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'VISITOR_REGRISTRATION.number'| translate}}</mat-label>
                                <input
                                    matTooltip="{{inputVisitRegistration.otherMealsNumber}}/{{inputVisitRegistration.lunchNumber}}"
                                    type="number" min="0" matInput
                                    [(ngModel)]="inputVisitRegistration.otherMealsNumber">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 paddingBottom" *ngIf="buttonSelect.includes('6')">
                <div class="card" style="min-height: 30rem;" hideToggle>
                    <div class="card-header bg-danger text-white">{{'VISITOR_REGRISTRATION.planned_department_visits' |
                        translate}}
                    </div>
                    <div class="card-body">
                        <div class="displayBySide">
                            <nz-table nzSize="small" class="col" nzShowPagination="false" [nzData]="buttonSelect"
                                nzBordered>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>{{'VISITOR_REGRISTRATION.department' | translate}}</th>
                                        <th>{{'VISITOR_REGRISTRATION.date' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody nzNoResult>
                                    <tr *ngFor="let data of listOfCurrentPageData.slice(0,6)">
                                        <td [nzChecked]="setOfCheckedId.has(data.id)"
                                            (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                                        <td>{{'VISITOR_REGRISTRATION.'+ data.name | translate}}</td>
                                        <td>
                                            <input type="date"
                                                [ngModel]="(setOfCheckedId.get(data.id)!==undefined)?setOfCheckedId.get(data.id)![1]:''"
                                                (ngModelChange)="inputDateChange(data.id, $event)" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                            <nz-table nzSize="small" class="col" nzShowPagination="false" [nzData]="buttonSelect"
                                nzBordered>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>{{'VISITOR_REGRISTRATION.department' | translate}}</th>
                                        <th>{{'VISITOR_REGRISTRATION.date' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody nzNoResult>
                                    <tr *ngFor="let data of listOfCurrentPageData.slice(6,11)">
                                        <td [nzChecked]="setOfCheckedId.has(data.id)"
                                            (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                                        <td>{{'VISITOR_REGRISTRATION.'+data.name | translate}}</td>
                                        <td>
                                            <input type="date"
                                                [ngModel]="(setOfCheckedId.get(data.id)!==undefined)?setOfCheckedId.get(data.id)![1]:''"
                                                (ngModelChange)="inputDateChange(data.id, $event)" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="paddingBottom" *ngIf="buttonSelect.includes('5')">
            <div class="card">
                <div class="card-header text-white bg-danger paddingSearch">{{'CUSTOMER_REQUIREMENTS.hotel_booking' |
                    translate}} </div>
                <div class="card-body">
                    @for (hotelbooking of inputVisitRegistration.hotelBookings; track hotelbooking; let index =
                    $index)
                    {<p>{{index+1}}. {{'CUSTOMER_REQUIREMENTS.hotel_booking' | translate}}</p>
                    <mat-form-field>
                        <mat-label>{{'VISITOR_REGRISTRATION.location' | translate}}</mat-label>
                        <input matInput [(ngModel)]="hotelbooking.hotelLocation">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{'CUSTOMER_REQUIREMENTS.from_to' | translate}}</mat-label>
                        <mat-date-range-input [rangePicker]="picker3">
                            <input matStartDate placeholder="Start date" [(ngModel)]="hotelbooking.hotelStayFromDate">
                            <input matEndDate placeholder="End date" [(ngModel)]="hotelbooking.hotelStayToDate">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker3></mat-date-range-picker>
                    </mat-form-field>
                    <div class="displayBySide">
                        <mat-form-field class="smallInput">
                            <mat-label>{{'VISITOR_REGRISTRATION.single_room' | translate}}</mat-label>
                            <input type="number" min="0" matInput [(ngModel)]="hotelbooking.singleRooms">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{'VISITOR_REGRISTRATION.double_room' | translate}}</mat-label>
                            <input type="number" min="0" matInput [(ngModel)]="hotelbooking.doubleRooms">
                        </mat-form-field>
                    </div>
                    <div class="displayBySidePayment">
                        <label>{{'VISITOR_REGRISTRATION.payment' | translate}}
                        </label>
                        <mat-checkbox color="warn" [(ngModel)]="hotelbooking.selfPay"></mat-checkbox>
                    </div>
                    }
                    <div class="header">
                        <div>
                            <button (click)="deleteLast(1)" class="btn btn-danger"><i class="fa fa-minus"></i></button>
                        </div>
                        <div>
                            <button (click)="addTab(1)" class="btn btn-success"> <i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>