.center-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.paddingSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

@media (max-width: 1600px) {
    input {
        width: 8rem;
    }
}

.languageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}