<div class="header">
    <div>
        <h1 class="paddingSearch" style="margin-bottom: 0;">{{'CREATE-DEALER.header' | translate}}</h1>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-danger">{{'CREATE-DEALER.allg' | translate}}</div>
            <div class="card-body">
                <div class="center-items">
                    <div class="displayBySide">
                        <mat-form-field class="smallInput">
                            <mat-label>{{'CREATE-DEALER.dealerName' | translate}}</mat-label>
                            <input matInput type="text" [(ngModel)]="inputCompany.name" name="companyName">
                        </mat-form-field>
                        <label class="languageBox">{{'CREATE-DEALER.active' | translate}}
                            <mat-checkbox color="warn" [(ngModel)]="inputCompany.active"></mat-checkbox>
                        </label>
                    </div>
                    <div class="displayBySide">
                        <button class="btn btn-danger" matTooltip="{{'CREATE-DEALER.cancel' | translate}}" [hidden]="inputCompany.id===0" (click)="cancelEdit()"><i
                                class="fa fa-times"></i></button>
                        <button class="btn btn-success" matTooltip="{{'CREATE-DEALER.safe' | translate}}" (click)="postDealer()"><i class="fa fa-save"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--TODO technologistList noch nicht richtig ->gehört dealersList -->
    <div class="col-md-9">
        <nz-table class="col" #editRowTable nzTableLayout="fixed" nzBordered [nzData]="companyList">
            <thead>
                <tr>
                    <th>{{'CREATE-DEALER.id' | translate}}</th>
                    <th>{{'CREATE-DEALER.calling' | translate}}</th>
                    <th>{{'CREATE-DEALER.active' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr matTooltip="{{'CREATE-DEALER.edit' | translate}}" *ngFor="let company of companyList"
                    (click)="editRow(company.id!)">
                    <td>{{company.id}}</td>
                    <td>{{company.name}}</td>
                    <td>
                        <span *ngIf="company.active" class="text-success">&#10004;</span>
                        <span *ngIf="!company.active" class="text-danger">&#10005;</span>
                    </td>
                </tr>
            </tbody>
        </nz-table>

    </div>
</div>