<div class="header">
    <div>
        <h1 class="paddingSearch" style="margin-bottom: 0;">Neuen Händler anlegen</h1>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-danger">Allgemeine Daten</div>
            <div class="card-body">
                <div class="center-items">
                    <div class="displayBySide">
                        <mat-form-field class="smallInput">
                            <mat-label>Händlerbezeichnung</mat-label>
                            <input matInput type="text" [(ngModel)]="inputTechnologist.firstName" name="firstName">
                        </mat-form-field>
                        <label class="languageBox">Aktiv
                            <mat-checkbox color="warn" [(ngModel)]="inputTechnologist.active"></mat-checkbox>
                        </label>
                    </div>
                    <div class="displayBySide">
                        <button class="btn btn-danger" [hidden]="inputTechnologist.id===0" (click)="cancelEdit()"><i
                                class="fa fa-times"></i></button>
                        <button class="btn btn-success" (click)="postDealer()"><i class="fa fa-save"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--TODO technologistList noch nicht richtig ->gehört dealersList -->
    <div class="col-md-9">
        <nz-table class="col" #editRowTable nzTableLayout="fixed" nzBordered [nzData]="technologistList">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Bezeichnung</th>
                    <th>Aktiv</th>
                </tr>
            </thead>
            <tbody>
                <tr matTooltip="Zum Bearbeiten klicken ..." *ngFor="let technologist of technologistList"
                    (click)="editRow(technologist.id!, 0)">
                    <td>{{technologist.id}}</td>
                    <td>{{technologist.firstName}}</td>
                    <td>
                        <span *ngIf="technologist.active" class="text-success">&#10004;</span>
                        <span *ngIf="!technologist.active" class="text-danger">&#10005;</span>
                    </td>
                </tr>
            </tbody>
        </nz-table>

    </div>
</div>