<div class="header">
    <div>
        <h1 class="paddingSearch" style="margin-bottom: 0;">{{'NAV.new-de' | translate}}</h1>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-danger">{{'CREATION_SITES.general_data' | translate}}</div>
            <div class="card-body">
                <div class="center-items">
                    <div class="displayBySide">
                        <mat-form-field class="smallInput">
                            <mat-label>{{'CREATION_SITES.first_name' | translate}}</mat-label>
                            <input required matInput type="text" [(ngModel)]="inputCompany.name" name="companyName">
                        </mat-form-field>
                        <label class="languageBox">{{'CREATION_SITES.active' | translate}}
                            <mat-checkbox color="warn" [(ngModel)]="inputCompany.active"></mat-checkbox>
                        </label>
                    </div>
                    <div class="displayBySide">
                        <button class="btn btn-danger" matTooltip="{{'DASHBOARD.cancel' | translate}}"
                            [hidden]="inputCompany.id===0" (click)="cancelEdit()"><i class="fa fa-times"></i></button>
                        <button class="btn btn-success" matTooltip="{{'STANDARD.save' | translate}}"
                            (click)="postDealer()"><i class="fa fa-save"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <nz-table class="col" #editRowTable [nzPageSize]="9" nzBordered [nzData]="companyList">
            <thead>
                <tr>
                    <th>{{'CREATION_SITES.id' | translate}}</th>
                    <th>{{'CREATION_SITES.designation' | translate}}</th>
                    <th>{{'CREATION_SITES.active' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr matTooltip="{{'CUSTOMER_REQUIREMENTS.edit' | translate}}" *ngFor="let company of editRowTable.data"
                    (click)="editRow(company.id!)">
                    <td>{{company.id}}</td>
                    <td>{{company.name}}</td>
                    <td>
                        <span *ngIf="company.active" class="text-success">&#10004;</span>
                        <span *ngIf="!company.active" class="text-danger">&#10005;</span>
                    </td>
                </tr>
            </tbody>
        </nz-table>

    </div>
</div>