<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <img class="logo" src="../../../assets/img/Almi_quer-removebg-preview.png"></button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">Fachberater</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <!--   (click)="handleCLick(navData)" -->
            <a class="sidenav-nav-link" *ngIf="data.items && data.items.length > 0" [routerLink]="[data.routeLink]"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{"NAV."+data.label | translate}}
                </span>
                <i *ngIf="data.items && collapsed" class="menu-collapse-icon"
                    [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down' "></i>
            </a>
            <a class="sidenav-nav-link" *ngIf="!data.items || (data.items && data.items.length === 0)"
                [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{"NAV."+data.label | translate}}
                </span>
            </a>
            <div *ngIf="collapsed && data.items && data.items.length > 0">
                <app-sublevel-menu [data]="data" [collapsed]="collapsed" [multiple]="multiple"
                    [expanded]="data.expanded"></app-sublevel-menu>
            </div>
        </li>
        <li class="sidenav-nav-item logout">
            <a class="sidenav-nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                [matMenuTriggerFor]="menu">
                <i class="sidenav-link-icon" [class]="'fal fa-language'"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{'NAV.lan-sel' | translate}}
                </span>
                <mat-menu #menu="matMenu">
                    <div (click)="switchLanguage('de')" class="header">
                        Deutsch
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 32 32">
                            <path fill="#cc2b1d" d="M1 11H31V21H1z"></path>
                            <path d="M5,4H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z"></path>
                            <path d="M5,20H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z"
                                transform="rotate(180 16 24)" fill="#f8d147"></path>
                            <path
                                d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z"
                                opacity=".15"></path>
                            <path
                                d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z"
                                fill="#fff" opacity=".2"></path>
                        </svg>
                    </div>
                    <div (click)="switchLanguage('en')" class="header">
                        Englisch
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 32 32">
                            <rect x="1" y="4" width="30" height="24" rx="4" ry="4" fill="#fff"></rect>
                            <path fill="#be2a2a"
                                d="M31 14L18 14 18 4 14 4 14 14 1 14 1 18 14 18 14 28 18 28 18 18 31 18 31 14z"></path>
                            <path
                                d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z"
                                opacity=".15"></path>
                            <path
                                d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z"
                                fill="#fff" opacity=".2"></path>
                        </svg>
                    </div>
                    <div (click)="switchLanguage('ru')" class="header">
                        Russisch
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 32 32">
                            <path fill="#1435a1" d="M1 11H31V21H1z"></path>
                            <path d="M5,4H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z" fill="#fff"></path>
                            <path d="M5,20H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z"
                                transform="rotate(180 16 24)" fill="#c53a28"></path>
                            <path
                                d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z"
                                opacity=".15"></path>
                            <path
                                d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z"
                                fill="#fff" opacity=".2"></path>
                        </svg>
                    </div>
                </mat-menu>
            </a>
            <a class="sidenav-nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="'fal fa-arrow-left'"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</div>