.center-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    min-height: 12.5rem;
}

.paddingSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.displayBySide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1600px) {
    .displayBySide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;

        .smallInput {
            max-width: 12rem;
        }

        .smallInputSide .nacharbeitSmall {
            max-width: 12rem;
        }

        .artundnr {
            max-width: 10rem;
        }
    }
}

.smallInputSide {
    max-width: 13.25rem;
}

.nacharbeitSmall {
    min-width: 13rem;
    max-width: 13rem;
}

.artundnr {
    max-width: 10.5rem;
}

.paddingBottom {
    padding-bottom: 1rem;
}

.custom-upload {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* full-size-dialog.component.css */
:host {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
  
  .mat-dialog-container {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
  