<div class="header">
    <div>
        <h1 class="paddingSearch" style="margin-bottom: 0;">{{'SEMINAR-REGISTRATION.seminarRegistration' | translate}}
        </h1>
    </div>
    <div>
        <button [disabled]="inputWorkshop.releaseManagement !== null && inputWorkshop.releaseManagement !== undefined"
            (nzOnConfirm)="release('gl')" *ngIf="roleService.checkPermission([1,7])" style="margin-right: 2rem;"
            nz-button nzType="primary" nz-popconfirm nzPopconfirmShowArrow="false" [nzIcon]="iconTpl"
            nzPopconfirmTitle="Sind Sie sicher?">
            <ng-template #iconTpl></ng-template>
            Freigabe GL
        </button>
        <button [disabled]="inputWorkshop.releaseSupervisor !== null && inputWorkshop.releaseSupervisor !== undefined"
            (nzOnConfirm)="release('al')" *ngIf="roleService.checkPermission([1,2,7])" style="margin-right: 2rem;"
            nz-button nzType="primary" nz-popconfirm nzPopconfirmShowArrow="false" [nzIcon]="iconTpl"
            nzPopconfirmTitle="Sind Sie sicher?">
            <ng-template #iconTpl></ng-template>
            Freigabe AL
        </button>
    </div>
    <button class="btn btn-success" (click)="postWorkshopRequest()">{{'SEMINAR-REGISTRATION.send' | translate}}</button>
</div>
<hr>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-danger">{{'SEMINAR-REGISTRATION.seminar' | translate}}</div>
            <div class="card-body">
                <div class="center-items ">
                    <mat-form-field>
                        <mat-label>{{"REQ-TECH.dealers"|translate}}</mat-label>
                        <mat-select
                            [ngModel]="(inputWorkshop.company === undefined)?undefined:inputWorkshop.company.id"
                            required (valueChange)="changeCompany($event)">
                            <mat-option>--</mat-option>
                            @for (c of companies; track companies) {
                            <mat-option [value]="c.id">{{c.name}}</mat-option>
                            }
                        </mat-select>
                        <!--TODO error message-->
                        <!---@if (tohaControl.hasError('required')) {
                        <mat-error>{{"REQ-TECH.none-select" | translate}}</mat-error>
                            }--->
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <mat-label>{{'SEMINAR-REGISTRATION.companyCustomer' | translate}}</mat-label>
                    <input matInput required [(ngModel)]="inputWorkshop.customer">
                    @if (control.hasError('required')) {
                    <mat-error>{{"REQ-TECH.none-select" | translate}}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'SEMINAR-REGISTRATION.fromTo' | translate}}</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input required matStartDate placeholder="Start date" [(ngModel)]="inputWorkshop.startDate">
                        <input required matEndDate placeholder="End date" [(ngModel)]="inputWorkshop.endDate">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    @if (control.hasError('required')) {
                    <mat-error>{{"REQ-TECH.none-select" | translate}}</mat-error>
                    }
                </mat-form-field>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header  text-white bg-danger">{{'SEMINAR-REGISTRATION.members' | translate}}</div>
            <div class="card-body">
                <div class="center-items">
                    <mat-form-field>
                        <mat-label>{{'SEMINAR-REGISTRATION.arrivalFromCountry' | translate}}</mat-label>
                        <input matInput [(ngModel)]="inputWorkshop.travelFrom">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{'SEMINAR-REGISTRATION.artOfArrival' | translate}}</mat-label>
                        <input matInput [(ngModel)]="inputWorkshop.travelType">
                    </mat-form-field>
                    <div class="paddingSearch">
                        <mat-form-field style="max-width: 8rem;">
                            <mat-label>{{'SEMINAR-REGISTRATION.count' | translate}}</mat-label>
                            <input type="number" min="0" matInput [(ngModel)]="inputWorkshop.amountParticipants">
                        </mat-form-field>
                        <button class="btn teilButton"
                            [ngClass]="{'btn-success': inputWorkshop.guests && inputWorkshop.guests.length > 0, 'btn-danger': !inputWorkshop.guests || inputWorkshop.guests.length === 0}"
                            matTooltip="{{'SEMINAR-REGISTRATION.seminarRegistrationMembers' | translate}}"
                            (click)="openDialog((inputWorkshop.guests !== null && inputWorkshop.guests !== undefined) ? inputWorkshop.guests : [])">
                            <i class="fas fa-user-friends"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header  text-white bg-danger">{{'SEMINAR-REGISTRATION.seminarLeader' | translate}}</div>
            <div class="card-body">
                <div class="center-items">
                    <mat-form-field>
                        <mat-label>{{"REQ-TECH.representative"|translate}}</mat-label>
                        <mat-select
                            [ngModel]="(inputWorkshop.representative === undefined)?undefined:inputWorkshop.representative.id"
                            (valueChange)="changeRepresentative($event)" required>
                            <mat-option>--</mat-option>
                            @for (r of representative; track representative) {
                            <mat-option [value]="r.id">{{r.firstName}} {{r.lastName}}</mat-option>
                            }
                        </mat-select>
                        <!--
                        @if (tohaContro
                        l.hasError('required')) {
                        <mat-error>{{"REQ-TECH.none-select" | translate}}</mat-error>
                        }---><!--TODO fehler---->
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{'SEMINAR-REGISTRATION.responsibleConsultants' | translate}}</mat-label>
                        <mat-select multiple placeholder="{{'SEMINAR-REGISTRATION.choose' | translate}}"
                            [ngModel]="inputWorkshop.techSelection" (valueChange)="changeTechnolgist($event)">
                            @for (t of technologists; track technologists) {
                            <mat-option [value]="t.id">{{t.firstName}} {{t.lastName}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <div class="displayBySide">
                        <div class="center-items">
                            <div class="displayBySide">
                                <mat-form-field class="smallInputSide">
                                    <mat-label>{{'SEMINAR-REGISTRATION.language' | translate}}</mat-label>
                                    <mat-select placeholder="Auswählen . . . " [(ngModel)]="inputWorkshop.language"
                                        name="resons">
                                        @for (re of languages; track languages) {
                                        <mat-option [value]="re">{{re}}</mat-option>
                                        }
                                        <div class="paddings">
                                            <textarea style="height: 2rem" type="text" [(ngModel)]="addItem"
                                                name="addItem"></textarea>
                                            <button style="height: 2rem;" type="button" *ngIf="addItem"
                                                mat-raised-button (click)="addToList(addItem)"><i class="fa fa-plus"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="center-items">
                            <mat-label>{{'SEMINAR-REGISTRATION.interpreter' | translate}}</mat-label>
                            <div style="display: flex;">
                                <label class="languageBox">
                                    <mat-checkbox color="warn" [ngModel]="inputWorkshop.shouldBeTranslated"
                                        (change)="inputWorkshop.shouldBeTranslated=inputWorkshop.shouldBeTranslated?false:true;"></mat-checkbox>{{'SEMINAR-REGISTRATION.yes'
                                    | translate}}
                                </label>
                                <label class="languageBox">
                                    <mat-checkbox color="warn" [ngModel]="!inputWorkshop.shouldBeTranslated"
                                        (change)="inputWorkshop.shouldBeTranslated=inputWorkshop.shouldBeTranslated?false:true"></mat-checkbox>{{'SEMINAR-REGISTRATION.no'
                                    | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-danger">{{'SEMINAR-REGISTRATION.furtherMore' | translate}}</div>
            <mat-button-toggle-group [ngModel]="buttonSelect" (change)="changeSelections($event, 0)" vertical multiple>
                <mat-button-toggle value="1">{{'SEMINAR-REGISTRATION.companyGuidance' | translate}}</mat-button-toggle>
                <mat-button-toggle value="2">{{'SEMINAR-REGISTRATION.trip' | translate}}</mat-button-toggle>
                <mat-button-toggle value="3">{{'SEMINAR-REGISTRATION.airportTransferTrain' |
                    translate}}</mat-button-toggle>
                <mat-button-toggle value="4">{{'SEMINAR-REGISTRATION.mealTime' | translate}}</mat-button-toggle>
                <mat-button-toggle value="5">{{'SEMINAR-REGISTRATION.hotelBooking' | translate}}</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group style="height: 2.7rem;" [ngModel]="buttonSelect"
                (change)="changeSelections($event, 1)" multiple>
                <mat-button-toggle style="width: 15rem;" value="6">{{'SEMINAR-REGISTRATION.customerGifts' |
                    translate}}</mat-button-toggle>
                <mat-button-toggle style="width: 15rem;" value="7">{{'SEMINAR-REGISTRATION.diploms' |
                    translate}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-9">
        <div class="row">
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('1')">
                <div class="card" hideToggle>
                    <div class="card-header bg-danger text-white">{{'SEMINAR-REGISTRATION.companyGuidance' | translate}}
                    </div>
                    <div class="card-body minheigtCard">
                        <div class="displayBySide">
                            <mat-form-field style="max-width: 8.5rem;" class="smallInput">
                                <mat-label>{{'SEMINAR-REGISTRATION.count' | translate}}</mat-label>
                                <input matInput [(ngModel)]="inputWorkshop.tourAmount">
                            </mat-form-field>

                            <mat-form-field class="smallInput">
                                <mat-label>{{'SEMINAR-REGISTRATION.date' | translate}}</mat-label>
                                <input matInput [matDatepicker]="picker5" [(ngModel)]="inputWorkshop.tourDate">
                                <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                                <mat-datepicker #picker5></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field style="max-width: 4.5rem;" class="smallInput">
                                <mat-label>{{'SEMINAR-REGISTRATION.time' | translate}}</mat-label>
                                <input type="time" matInput [(ngModel)]="inputWorkshop.tourTime">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('2')">
                <div class="card" hideToggle>
                    <div class="card-header bg-danger text-white">{{'SEMINAR-REGISTRATION.trip' | translate}}</div>
                    <div class="card-body minheigtCard">
                        <div class="displayBySide">
                            <div class="center-items">
                                <mat-form-field class="smallInput">
                                    <mat-label>{{'SEMINAR-REGISTRATION.tripDestination' | translate}}</mat-label>
                                    <input matInput [(ngModel)]="inputWorkshop.tripLocation">
                                </mat-form-field>
                                <mat-form-field class="smallInput">
                                    <mat-label>{{'SEMINAR-REGISTRATION.otherNote' | translate}}</mat-label>
                                    <input matInput [(ngModel)]="inputWorkshop.otherTripRequests">
                                </mat-form-field>
                            </div>
                            <div class="center-items">
                                <mat-form-field class="smallInput">
                                    <mat-label>{{'SEMINAR-REGISTRATION.date' | translate}}</mat-label>
                                    <input matInput [matDatepicker]="picker5" [(ngModel)]="inputWorkshop.tripDate">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                                    <mat-datepicker #picker5></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="smallInput">
                                    <mat-label>{{'SEMINAR-REGISTRATION.time' | translate}}</mat-label>
                                    <input type="time" matInput [(ngModel)]="inputWorkshop.tripTime">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('3')">
                <div class="card" hideToggle>
                    <div class="card-header bg-danger text-white">{{'SEMINAR-REGISTRATION.airportTransferTrain' |
                        translate}}
                    </div>
                    <div class="card-body minheigtCard">
                        <div class="displayBySide">
                            <div class="center-items">
                                <mat-form-field class="smallInput">
                                    <mat-label>{{'SEMINAR-REGISTRATION.date' | translate}}</mat-label>
                                    <input matInput [(ngModel)]="inputWorkshop.flightHereDateTime"
                                        [matDatepicker]="picker4">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker #picker4></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="smallInput">
                                    <mat-label>{{'SEMINAR-REGISTRATION.otherReq' | translate}}</mat-label>
                                    <input matInput [(ngModel)]="inputWorkshop.otherTravelRequests">
                                </mat-form-field>
                            </div>
                            <div class="center-items">
                                <mat-form-field class="smallInput">
                                    <mat-label>{{'SEMINAR-REGISTRATION.from' | translate}}</mat-label>
                                    <input matInput [(ngModel)]="inputWorkshop.flightFrom">
                                </mat-form-field>
                                <mat-form-field class="smallInput">
                                    <mat-label>{{'SEMINAR-REGISTRATION.toPlace' | translate}}</mat-label>
                                    <input matInput [(ngModel)]="inputWorkshop.flightTo">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('4')">
                <div class="card" hideToggle>
                    <div class="card-header bg-danger text-white">{{'SEMINAR-REGISTRATION.mealTime' | translate}}</div>
                    <div class="card-body minheigtCard">
                        <div class="displayBySide">
                            <mat-form-field class="smallInputMittagAnz">
                                <mat-label>{{'SEMINAR-REGISTRATION.count' | translate}}</mat-label>
                                <input type="number" min="0" matInput [(ngModel)]="inputWorkshop.mealAmount">
                            </mat-form-field>
                            <mat-form-field class="smallInput">
                                <mat-label>{{'SEMINAR-REGISTRATION.date' | translate}}</mat-label>
                                <input matInput [matDatepicker]="picker7" [(ngModel)]="inputWorkshop.mealDate">
                                <mat-datepicker-toggle matIconSuffix [for]="picker7"></mat-datepicker-toggle>
                                <mat-datepicker #picker7></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="TIME">
                                <mat-label>{{'SEMINAR-REGISTRATION.time' | translate}}</mat-label>
                                <input type="time" matInput [(ngModel)]="inputWorkshop.mealTime">
                            </mat-form-field>
                        </div>
                        <div class="displayBySide">
                            <mat-form-field class="NumberInput">
                                <mat-label>{{'SEMINAR-REGISTRATION.vegan' | translate}}</mat-label>
                                <input matTooltip="{{inputWorkshop.mealWishesVegan}}/{{inputWorkshop.mealAmount}}"
                                    type="number" min="0" matInput [(ngModel)]="inputWorkshop.mealWishesVegan">
                            </mat-form-field>
                            <mat-form-field
                                matTooltip="{{inputWorkshop.mealWishesVegetarian}}/{{inputWorkshop.mealAmount}}"
                                class="NumberInput">
                                <mat-label>{{'SEMINAR-REGISTRATION.vegetarian' | translate}}</mat-label>
                                <input type="number" min="0" matInput [(ngModel)]="inputWorkshop.mealWishesVegetarian">
                            </mat-form-field>
                            <mat-form-field class="NumberInput">
                                <mat-label>{{'SEMINAR-REGISTRATION.other' | translate}}</mat-label>
                                <input matTooltip="{{inputWorkshop.otherMealWishes}}/{{inputWorkshop.mealAmount}}"
                                    type="text" matInput [(ngModel)]="inputWorkshop.otherMealWishes">
                            </mat-form-field>
                            <mat-form-field class="NumberInput">
                                <mat-label>{{'SEMINAR-REGISTRATION.count' | translate}}</mat-label>
                                <input matTooltip="{{inputWorkshop.otherMealWishesAmount}}/{{inputWorkshop.mealAmount}}"
                                    type="number" min="0" matInput [(ngModel)]="inputWorkshop.otherMealWishesAmount">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="paddingBottom" *ngIf="buttonSelect.includes('5')">
            <div class="card">
                <div class="card-header text-white bg-danger paddingSearch">{{'SEMINAR-REGISTRATION.hotelBooking' |
                    translate}}</div>
                <!--TODO ngModels setzen-->
                <div class="card-body">
                    @for (tab of tabs; track tab; let index = $index) {
                    <p>{{index+1}}. Hotelbuchung</p>
                    <div class="center-items">
                        <mat-form-field class="smallInputSpecial">
                            <mat-label>{{'VISITOR-REGISTRATION.place' | translate}}</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field class="smallInputSpecial">
                            <mat-label>{{'VISITOR-REGISTRATION.fromTo' | translate}}</mat-label>
                            <mat-date-range-input [rangePicker]="picker3">
                                <input matStartDate placeholder="Start date">
                                <input matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker3></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <div class="displayBySide">
                        <mat-form-field class="NumberInput">
                            <mat-label>{{'VISITOR-REGISTRATION.singleRoom' | translate}}</mat-label>
                            <input type="number" min="0" matInput>
                        </mat-form-field>
                        <mat-form-field class="NumberInput">
                            <mat-label>{{'VISITOR-REGISTRATION.doubleRoom' | translate}}</mat-label>
                            <input type="number" min="0" matInput>
                        </mat-form-field>
                    </div>

                    }
                    <div class="header">
                        <div>
                            <button (click)="deleteLast()" class="btn btn-danger"><i class="fa fa-minus"></i></button>
                        </div>
                        <div>
                            <button (click)="addTab()" class="btn btn-success"> <i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
