.center-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    min-height: 18rem;
}

.languageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.paddingSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.displayBySide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1600px) {
    .displayBySide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;

        .smallInput {
            max-width: 12rem;
            padding-right: 0.5rem;
        }

        .smallInputSpecial{
            max-width: 11rem;
            padding-right: 0.5rem;
        }
        .smallInputMittagAnz {
            max-width: 8rem;
            padding-right: 0.5rem;
        }

        .smallInputSide {
            max-width: 8rem;
            padding-right: 0.5rem;
        }
    }
}

.smallInputMittagAnz {
    padding-right: 0.5rem;
}

.smallInputSide {
    max-width: 11rem;
}

.smallInput {
    padding-right: 0.5rem;
}

.mittagCenter {
    display: flex;
    align-items: center;
}

.paddingBottom {
    padding-bottom: 1rem;
}

.minheigtCard {
    min-height: 14.2rem;
    max-height: 14.3rem;
}

.paddings {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

.teilButton {
    width: 5rem;
    height: 3rem;
    margin-bottom: 20px;
}