<div class="header">
    <div class="header">
        <h1 class="paddingSearch" style="margin-bottom: 0;">{{"BOOKING_REQUEST.bookingRequest" | translate}}
        </h1>
        <h2 style="margin: 0%; padding-top: 0.1rem;" *ngIf="inputBooking.id !== null && inputBooking.id !== undefined">
            : {{inputBooking.id}}</h2>
    </div>
    <div>
        <button [disabled]="inputBooking.releaseManagement !== null && inputBooking.releaseManagement !== undefined"
            (nzOnConfirm)="release('gl')" *ngIf="roleService.checkPermission([1,7])" style="margin-right: 2rem;"
            nz-button nzType="primary" nz-popconfirm nzPopconfirmShowArrow="false" [nzIcon]="iconTpl"
            [nzCancelText]="'DASHBOARD.cancel' | translate" [nzOkText]="'STANDARD.ok' | translate"
            [nzPopconfirmTitle]="'STANDARD.are_you_sure' | translate">
            <ng-template #iconTpl></ng-template>
            {{"CUSTOMER_REQUIREMENTS.approval_gl" | translate}}
        </button>
        <button [disabled]="inputBooking.releaseSupervisor !== null && inputBooking.releaseSupervisor !== undefined"
            (nzOnConfirm)="release('al')" *ngIf="roleService.checkPermission([1,2,7])" style="margin-right: 2rem;"
            nz-button nzType="primary" nz-popconfirm nzPopconfirmShowArrow="false" [nzIcon]="iconTpl"
            [nzCancelText]="'DASHBOARD.cancel' | translate" [nzOkText]="'STANDARD.ok' | translate"
            [nzPopconfirmTitle]="'STANDARD.are_you_sure' | translate">
            <ng-template #iconTpl></ng-template>
            {{"CUSTOMER_REQUIREMENTS.approval_al" | translate}}
        </button>
    </div>
    <div>
        <button style="margin-right: 2px;" *ngIf="inputBooking.id !== null && inputBooking.id !== undefined"
            class="btn btn-secondary" (click)="getPdf()">PDF
        </button> <button class="btn btn-success"
            *ngIf="(inputBooking.creator === undefined && roleService.checkPermission([3,4,6])) || roleService.checkPermission([1,2,5,7])"
            (click)="checkPopup()">{{'CUSTOMER_REQUIREMENTS.send_form' |
            translate}}</button>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-4 paddingBottom">
        <div class="card" style="min-height: 18.2rem;">
            <div class="card-header  text-white bg-danger">{{"BOOKING_REQUEST.businessTripBookingRequest" | translate}}
            </div>
            <div class="card-body">
                <div class="displayBySide">
                    <mat-form-field class="equal-width">
                        <mat-label>{{"BOOKING_REQUEST.employeeNameAndCompany" | translate}}</mat-label>
                        <input [(ngModel)]="inputBooking.employeeNameAndCompany" matInput>
                    </mat-form-field>
                    <mat-form-field class="equal-width">
                        <mat-label>{{"BOOKING_REQUEST.reasonForTrip" | translate}}</mat-label>
                        <input [(ngModel)]="inputBooking.reasonForTrip" matInput>
                    </mat-form-field>
                </div>
                <div class="displayBySide">
                    <mat-form-field class="equal-width">
                        <mat-label>{{'CUSTOMER_REQUIREMENTS.from_to' | translate}}</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input [(ngModel)]="inputBooking.mainStartDate" required matStartDate placeholder="Start date">
                            <input [(ngModel)]="inputBooking.mainEndDate" required matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                        <!-- Fehleranzeige, wenn ein erforderliches Feld nicht ausgefüllt ist -->
                        <mat-error *ngIf="bookingControl.hasError('required')">
                            {{"STANDARD.please_select" | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="equal-width">
                        <mat-label>{{"BOOKING_REQUEST.costCoverage" | translate}}</mat-label>
                        <mat-select name="costCoverage" [(ngModel)]="inputBooking.assumptionOfCosts">
                            @for (cC of costCoverages; track costCoverages) {
                            @if (cC == "almiGmbH" || cC == "almiSubsidiary") {
                            <mat-option [value]="cC">{{"BOOKING_REQUEST."+ cC|translate}}</mat-option>
                            }
                            @else {
                            <mat-option [value]="cC">{{cC}}</mat-option>
                            }
                            }
                            <hr>
                            <div class="paddings">
                                <textarea style="height: 2rem" type="text" [(ngModel)]="addItem"
                                    name="addItem"></textarea>
                                <button style="height: 2rem;" type="button" *ngIf="addItem" mat-raised-button
                                    (click)="addToList(addItem)"><i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </mat-select>
                        @if (bookingControl.hasError('required')) {
                        <mat-error>{{"STANDARD.please_select" | translate}}</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 paddingBottom">
        <div class="card">
            <div class="card-header text-white bg-danger">{{'VISITOR_REGRISTRATION.additional_requirements' |
                translate}}</div>
            <mat-button-toggle-group [(ngModel)]="buttonSelect" (valueChange)="changeSelections()" vertical multiple>
                <mat-button-toggle value="1">{{'BOOKING_REQUEST.flightBookingMultiLeg' |
                    translate}}</mat-button-toggle>
                <mat-button-toggle value="2">{{'BOOKING_REQUEST.flightBookingRoundTrip' |
                    translate}}</mat-button-toggle>
                <mat-button-toggle value="3">{{'BOOKING_REQUEST.trainTicketBooking' | translate}}</mat-button-toggle>
                <mat-button-toggle value="4">{{'CUSTOMER_REQUIREMENTS.hotel_booking' | translate}}</mat-button-toggle>
                <mat-button-toggle value="5">{{'BOOKING_REQUEST.carRental' | translate}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="col-md-4 paddingBottom">
        <div class="card" style="min-height: 18rem;">
            <div class="card-header text-white bg-danger">{{"ABSCHLUSSBERICHT.header_upload" | translate}}</div>
            <div class="card-body">
                <nz-upload [nzFileList]="fileList" [nzBeforeUpload]="beforeUpload" [nzLimit]="5" [nzMultiple]="true"
                    [nzShowUploadList]="true" [nzShowButton]="fileList.length < 5" [nzListType]="'picture-card'"
                    (nzChange)="handleChange($event)" class="custom-upload">
                    <button nz-button>
                        <i nz-icon nzType="upload"></i>{{"STANDARD.upload" | translate}}
                    </button>
                </nz-upload>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-7 paddingBottom">
        <div class="row">
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('2')">
                <div class="card">
                    <div class="card-header bg-danger text-white">{{'BOOKING_REQUEST.flightBookingRoundTrip' |
                        translate}}</div>
                    <div class="card-body">
                        <div class="center-items">
                            <mat-form-field>
                                <mat-label>{{'BOOKING_REQUEST.fromAirport' | translate}}</mat-label>
                                <input [(ngModel)]="inputBooking.flightFrom" matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'BOOKING_REQUEST.alternativeAirport' | translate}}</mat-label>
                                <input [(ngModel)]="inputBooking.alternativeFlightFrom" matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'BOOKING_REQUEST.toAirport' | translate}}</mat-label>
                                <input [(ngModel)]="inputBooking.flightTo" matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'BOOKING_REQUEST.alternativeAirport' | translate}}</mat-label>
                                <input [(ngModel)]="inputBooking.alternativeFlightTo" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('3')">
                <div class="card">
                    <div class="card-header bg-danger text-white">{{'BOOKING_REQUEST.trainTicketBooking' | translate}}
                    </div>
                    <div class="card-body">
                        <div class="center-items">
                            <mat-form-field>
                                <mat-label>{{'BOOKING_REQUEST.fromTrainStation' | translate}}</mat-label>
                                <input [(ngModel)]="inputBooking.trainFrom" matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'BOOKING_REQUEST.alternativeTrainStation' | translate}}</mat-label>
                                <input [(ngModel)]="inputBooking.alternativeTrainFrom" matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'BOOKING_REQUEST.toTrainStation' | translate}}</mat-label>
                                <input [(ngModel)]="inputBooking.trainTo" matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'BOOKING_REQUEST.alternativeTrainStation' | translate}}</mat-label>
                                <input [(ngModel)]="inputBooking.alternativeTrainTo" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('4')">
                <div class="card">
                    <div class="card-header bg-danger text-white">{{'CUSTOMER_REQUIREMENTS.hotel_booking' | translate}}
                    </div>
                    <div class="card-body">
                        <div class="center-items">
                            <mat-form-field>
                                <mat-label>{{'BOOKING_REQUEST.locationAndDesiredArea' | translate}}</mat-label>
                                <input [(ngModel)]="inputBooking.hotelLocation" matInput>
                            </mat-form-field>
                            <mat-form-field class="smallInputSpecial">
                                <mat-label>{{'CUSTOMER_REQUIREMENTS.from_to' | translate}}</mat-label>
                                <mat-date-range-input [rangePicker]="picker4">
                                    <input [(ngModel)]="inputBooking.hotelFrom" matStartDate placeholder="Start date">
                                    <input [(ngModel)]="inputBooking.hotelTo" matEndDate placeholder="End date">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker4></mat-date-range-picker>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'SEMINAR_REGRISTRATION.other_notes_excursion' | translate}}</mat-label>
                                <input [(ngModel)]="inputBooking.otherHotelNotes" type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('5')">
                <div class="card">
                    <div class="card-header bg-danger text-white">{{'BOOKING_REQUEST.carRental' | translate}}</div>
                    <div class="card-body">
                        <div class="center-items">
                            <mat-form-field>
                                <mat-label>{{'BOOKING_REQUEST.pickupAndReturnLocation' | translate}}</mat-label>
                                <input [(ngModel)]="inputBooking.carLocation" matInput>
                            </mat-form-field>
                            <mat-form-field class="smallInputSpecial">
                                <mat-label>{{'CUSTOMER_REQUIREMENTS.from_to' | translate}}</mat-label>
                                <mat-date-range-input [rangePicker]="picker5">
                                    <input [(ngModel)]="inputBooking.carFrom" matStartDate placeholder="Start date">
                                    <input [(ngModel)]="inputBooking.carTo" matEndDate placeholder="End date">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker5></mat-date-range-picker>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'VISITOR_REGRISTRATION.other_travel_requirements' | translate}}</mat-label>
                                <input [(ngModel)]="inputBooking.otherCarNotes" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5 paddingBottom">
        <div class="card paddingBottom" *ngIf="buttonSelect.includes('1')">
            <div class="card-header text-white bg-danger paddingSearch">{{'BOOKING_REQUEST.flightBookingMultiLeg' |
                translate}} </div>
            <div class="card-body">
                @for (flightBooking of inputBooking.flights; track flightBooking; let index = $index)
                {
                <div class="displayBySide">
                    <div>
                        <h2>{{ index + 1 }}. {{ 'BOOKING_REQUEST.flight' | translate }}</h2>
                    </div>
                    <mat-form-field>
                        <mat-label>{{ "DASHBOARD.from" | translate }}</mat-label>
                        <input [(ngModel)]="flightBooking.flightDate" matInput [matDatepicker]="picker3">
                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="displayBySide">
                    <mat-form-field class="equal-width">
                        <mat-label>{{ 'BOOKING_REQUEST.fromAirport' | translate }}</mat-label>
                        <input [(ngModel)]="flightBooking.flightFrom" matInput>
                    </mat-form-field>
                    <mat-form-field class="equal-width">
                        <mat-label>{{ 'BOOKING_REQUEST.alternativeAirport' | translate }}</mat-label>
                        <input [(ngModel)]="flightBooking.alternativeFlightFrom" matInput>
                    </mat-form-field>
                </div>
                <div class="displayBySide">
                    <mat-form-field class="equal-width">
                        <mat-label>{{ 'BOOKING_REQUEST.toAirport' | translate }}</mat-label>
                        <input [(ngModel)]="flightBooking.flightTo" matInput>
                    </mat-form-field>
                    <mat-form-field class="equal-width">
                        <mat-label>{{ 'BOOKING_REQUEST.alternativeAirport' | translate }}</mat-label>
                        <input [(ngModel)]="flightBooking.alternativeFlightTo" matInput>
                    </mat-form-field>
                </div>
                <div class="displayBySide">
                    <mat-form-field class="equal-width">
                        <mat-label>{{ "BOOKING_REQUEST.preferredTime" | translate }}</mat-label>
                        <mat-select [(ngModel)]="flightBooking.preferredTime">
                            <mat-option [value]="'morning'">{{ "BOOKING_REQUEST.morning" | translate }}</mat-option>
                            <mat-option [value]="'noon'">{{ "BOOKING_REQUEST.noon" | translate }}</mat-option>
                            <mat-option [value]="'evening'">{{ "BOOKING_REQUEST.evening" | translate }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="displayBySide">
                    <mat-form-field class="equal-width">
                        <mat-label>{{ 'BOOKING_REQUEST.luggageQuantity' | translate }}</mat-label>
                        <input [(ngModel)]="flightBooking.luggageCount" min="0" type="number" matInput>
                    </mat-form-field>
                    <mat-form-field class="equal-width">
                        <mat-label>{{ 'BOOKING_REQUEST.weightKg' | translate }}</mat-label>
                        <input [(ngModel)]="flightBooking.luggageWeight" min="0" type="number" matInput>
                    </mat-form-field>
                </div>
                <mat-form-field class="equal-width">
                    <mat-label>{{ 'SEMINAR_REGRISTRATION.other_notes_excursion' | translate }}</mat-label>
                    <input [(ngModel)]="flightBooking.otherNotes" type="text" matInput>
                </mat-form-field>
                }
                <div class="header">
                    <div>
                        <button (click)="deleteLast()" class="btn btn-danger"><i class="fa fa-minus"></i></button>
                    </div>
                    <div>
                        <button (click)="addTab()" class="btn btn-success"> <i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>