<div class="header">
    <div>
        <h1 class="paddingSearch" style="margin-bottom: 0;">{{"Buchungsanforderung" | translate}}
        </h1>
    </div>
    <div>
        <button *ngIf="roleService.checkPermission([1,7])" style="margin-right: 2rem;" nz-button nzType="primary"
            nz-popconfirm nzPopconfirmShowArrow="false" [nzIcon]="iconTpl"
            [nzCancelText]="'DASHBOARD.cancel' | translate" [nzOkText]="'STANDARD.ok' | translate"
            [nzPopconfirmTitle]="'STANDARD.are_you_sure' | translate">
            <ng-template #iconTpl></ng-template>
            {{"CUSTOMER_REQUIREMENTS.approval_gl" | translate}}
        </button>
        <button *ngIf="roleService.checkPermission([1,2,7])" style="margin-right: 2rem;" nz-button nzType="primary"
            nz-popconfirm nzPopconfirmShowArrow="false" [nzIcon]="iconTpl"
            [nzCancelText]="'DASHBOARD.cancel' | translate" [nzOkText]="'STANDARD.ok' | translate"
            [nzPopconfirmTitle]="'STANDARD.are_you_sure' | translate">
            <ng-template #iconTpl></ng-template>
            {{"CUSTOMER_REQUIREMENTS.approval_al" | translate}}
        </button>
    </div>
    <button class="btn btn-success" *ngIf="roleService.checkPermission([1,2,5,7])"
        (click)="postBooking()">{{'CUSTOMER_REQUIREMENTS.send_form' |
        translate}}</button>
</div>
<hr>

<div class="row">
    <div class="col-md-6 paddingBottom">
        <div class="card">
            <div class="card-header  text-white bg-danger">{{"CUSTOMER_REQUIREMENTS.requirements_by" |
                translate}}
            </div>
            <div class="card-body" style="min-height: 15.3rem;">
                <div class="center-items">
                    <div class="displayBySide">
                        <mat-form-field class="smallInputSide">
                            <mat-label>{{"Name Mitarbeiter" | translate}}</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field class="smallInputSide">
                            <mat-label>{{"Grund Reise" | translate}}</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="displayBySide">
                        <mat-form-field class="flightBookingInput">
                            <mat-label>{{'CUSTOMER_REQUIREMENTS.from_to' | translate}}</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input required matStartDate placeholder="Start date">
                                <input required matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                            @if (bookingControl.hasError('required')) {
                            <mat-error>{{"STANDARD.please_select" | translate}}</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field class="flightBookingInput">
                            <mat-label>{{"Kostenübernahme"|translate}}</mat-label>
                            <mat-select>
                                <mat-option>--</mat-option>
                                <mat-option [value]="true">{{"Almi Gmbh"|translate}}</mat-option>
                                <mat-option [value]="true">{{"Almi Tochter"|translate}}</mat-option>
                            </mat-select>
                            @if (bookingControl.hasError('required')) {
                            <mat-error>{{"STANDARD.please_select" | translate}}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 paddingBottom">
        <div class="card" style="min-height: 15.4rem;">
            <div class="card-header text-white bg-danger">{{'VISITOR_REGRISTRATION.additional_requirements' |
                translate}}</div>
            <mat-button-toggle-group [(ngModel)]="buttonSelect" (valueChange)="changeSelections()" vertical multiple>
                <mat-button-toggle value="1">{{'Flug Buchung Gabelflüge' | translate}}</mat-button-toggle>
                <mat-button-toggle value="2">{{'Flug Buchung Hin- / Retour' | translate}}</mat-button-toggle>
                <mat-button-toggle value="3">{{'Buchung Zugticket' | translate}}</mat-button-toggle>
                <mat-button-toggle value="4">{{'Hotelbuchung' | translate}}</mat-button-toggle>
                <mat-button-toggle value="5">{{'Leihwagen Buchung' | translate}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-7 paddingBottom">
        <div class="row">
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('2')">
                <div class="card">
                    <div class="card-header bg-danger text-white">{{'Flug Buchung Hin- / Retour' | translate}}</div>
                    <div class="card-body">
                        <div class="center-items">
                            <mat-form-field>
                                <mat-label>{{'Von Flughafen' | translate}}</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'Alternativer Flughafen' | translate}}</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'Nach Flughafen' | translate}}</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'Alternativer Flughafen' | translate}}</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('3')">
                <div class="card">
                    <div class="card-header bg-danger text-white">{{'Buchung Zugticket' | translate}}</div>
                    <div class="card-body" >
                        <div class="center-items">
                            <mat-form-field>
                                <mat-label>{{'Von Bahnhof' | translate}}</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'Alternative' | translate}}</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'Nach Bahnhof' | translate}}</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'Alternative' | translate}}</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('4')">
                <div class="card">
                    <div class="card-header bg-danger text-white">{{'Hotelbuchung' | translate}}</div>
                    <div class="card-body" >
                        <div class="center-items">
                            <mat-form-field>
                                <mat-label>{{'Ort und gewünschte lage' | translate}}</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="smallInputSpecial">
                                <mat-label>{{'CUSTOMER_REQUIREMENTS.from_to' | translate}}</mat-label>
                                <mat-date-range-input [rangePicker]="picker4">
                                    <input matStartDate placeholder="Start date">
                                    <input matEndDate placeholder="End date">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker4></mat-date-range-picker>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'SEMINAR_REGRISTRATION.other_notes_excursion' | translate}}</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 paddingBottom" *ngIf="buttonSelect.includes('5')">
                <div class="card">
                    <div class="card-header bg-danger text-white">{{'Leihwagen Buchung' | translate}}</div>
                    <div class="card-body" >
                        <div class="center-items">
                            <mat-form-field>
                                <mat-label>{{'Ort Abholung und Rückgabe' | translate}}</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="smallInputSpecial">
                                <mat-label>{{'CUSTOMER_REQUIREMENTS.from_to' | translate}}</mat-label>
                                <mat-date-range-input [rangePicker]="picker5">
                                    <input matStartDate placeholder="Start date">
                                    <input matEndDate placeholder="End date">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker5></mat-date-range-picker>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'VISITOR_REGRISTRATION.other_travel_requirements' | translate}}</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5 paddingBottom">
        <div class="card paddingBottom" *ngIf="buttonSelect.includes('1')">
            <div class="card-header text-white bg-danger paddingSearch">{{'Flug Buchung Gabelflüge' |
                translate}} </div>
            <div class="card-body">
                @for (flightBooking of booking.flightBookings; track flightBooking; let index = $index)
                {
                <div class="displayBySide">
                    <div class="flightBookingInput">
                        <h2>{{index+1}}. {{'Flug' | translate}}</h2>
                    </div>
                    <mat-form-field class="flightBookingInput">
                        <mat-label>{{"DASHBOARD.from" | translate}}</mat-label>
                        <input matInput [matDatepicker]="picker3">
                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="center-items">
                    <div class="displayBySide">
                        <mat-form-field class="flightBookingInput">
                            <mat-label>{{'Von Flughafen' | translate}}</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field class="flightBookingInput">
                            <mat-label>{{'Alternative' | translate}}</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="displayBySide">
                        <mat-form-field class="flightBookingInput">
                            <mat-label>{{'Nach Flughafen' | translate}}</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field class="flightBookingInput">
                            <mat-label>{{'Alternative' | translate}}</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="center-items">
                    <div class="displayBySide">
                        <mat-form-field class="flightBookingInput">
                            <mat-label>{{"Bevorzugte Zeit "|translate}}</mat-label>
                            <mat-select>
                                <mat-option [value]="1">{{"Morgens"|translate}}</mat-option>
                                <mat-option [value]="2">{{"Mittags"|translate}}</mat-option>
                                <mat-option [value]="3">{{"Abends"|translate}}</mat-option>
                            </mat-select>
                            @if (bookingControl.hasError('required')) {
                            <mat-error>{{"STANDARD.please_select" | translate}}</mat-error>
                            }
                        </mat-form-field>
                        <div class="displayBySide flightBookingInput">
                            <mat-form-field class="TIME">
                                <mat-label>{{'Gepäck' | translate}}</mat-label>
                                <input min="0" type="number" matInput>
                            </mat-form-field>
                            <mat-form-field class="TIME">
                                <mat-label>{{'Kg' | translate}}</mat-label>
                                <input min="0" type="number" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <mat-form-field>
                    <mat-label>{{'SEMINAR_REGRISTRATION.other_notes_excursion' | translate}}</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
                }
                <div class="header">
                    <div>
                        <button (click)="deleteLast()" class="btn btn-danger"><i class="fa fa-minus"></i></button>
                    </div>
                    <div>
                        <button (click)="addTab()" class="btn btn-success"> <i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--
<hr>
<p>
    Richtlinien für Reisen:
    <br>
    <small>
        • Reisen für deren Kosten die Fa. Almi aufkommt, sind ausschließlich über das Front Office und mittels des
        vollständig
        ausgefüllten Formulars zu buchen!
        • Jede Reise ist vom Vorgesetzten bzw. der GL freizugeben. Ausgenommen Technologisch Unterstützung, wenn dieser
        bereits freigegeben wurde.
        • Flüge werden immer mit Umbuchung und/oder Stornierungsoption gebucht. Diese Information wird bei der
        Buchungsbestätigung übermittelt.
        • Vor einem Flug Versäumnis bzw. bei Änderungen der Reiseroute ist umgehend das Front Office und der Vorgesetzte
        zu kontaktieren. Außerhalb der Bürozeiten ist sofort unser Reisebüro BTU oder die Fluggesellschaft direkt zu
        kontaktieren, um vor Ort die Umbuchung vorzunehmen!
        BTU (24h Hotline) +43 (0) 1 51651-999
        Wird der Flug einfach nicht wahrgenommen (no Show) verfällt der Flug und die gesamten Kosten sind zu tragen!
        • Hotel Buchungen erfolgen immer mit Stornooptionen, die Stornobedingungen werden bei der Buchungsbestätigung
        mitgeschickt.
        Bei Stornierung/Änderung ist sofort das Front Office oder außerhalb der Geschäftszeiten das Hotel direkt zu
        informieren.
        • Reiseinformationen sind selbständig einzuholen und dafür Sorge zu tragen, dass diese bis zur Abreise
        vorhanden/
        gültig sind. Wie z.B. ein Visum, gültiger Reisepass, sowie andere notwendige Dokumente oder etwaige notwendige
        Impfungen/ Gesundheitsatteste für die Einreise.
        • Für Visums Anträge (CN, RU, …) bitte bei <a href="mailto:office&#64;almi.at">office&#64;almi.at</a> melden.
        • Übergepäck und Sitzplatzbuchungen sind vorab beim Front Office anzumelden und werden von diesem gebucht.
        Buchung und Bezahlung vor Ort am Flughafen ist nur mit vorheriger Freigabe seitens GL gestattet.
        • In jedem Fall sind bei Änderungen der Reiseroute sowohl das Front Office, wie auch der Vorgesetzte
        unverzüglich zu
        informieren. Außerhalb der Bürozeiten sind Änderungen selbstständig und zeitgerecht vorzunehmen.
        Kosten die durch nicht Einhaltung der Reiserichtlinien entstehen werden Firmenseitig nicht übernommen!
        Front Office: (MO – DO 07:00 – 15:30; FR 07:00 – 13:30)
        Fr. Arijanda Iska
        E-mail: <a href="mailto:office&#64;almi.at">office&#64;almi.at</a>; Tel. +43 7221 733 99-294;
        Vertretung: Fr. Emma Gartner, +43 7221 733 99-295
    </small>
</p> -->