.center-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.paddingSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.displayBySide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.equal-width {
    flex: 1;
    min-width: 5rem;
}

.mat-form-field {
    width: 100%;
}


@media (max-width: 1600px) {
    .displayBySide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;

        .flightBookingInput {
            min-width: 15rem;
            max-width: 15rem;
        }

        .smallInputSide {
            min-width: 18.5rem;
            max-width: 18.5rem;

        }
    }
}

.paddingBottom {
    padding-bottom: 1rem;
}

.paddings {
    display: flex;
    justify-content: space-around;
    padding-left: 2px;
    padding-right: 2px;
}

.custom-upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
}