<div class="mainView">
    <div class="header">
        <h1 style="margin: 0%;">Teilnehmerliste</h1>
        <!--<button (click)="addRow({})" class="btn btn-success">{{'DIALOG-MEMBERS.add' | translate}}</button>-->
        <button (click)="addRow({})" nz-button nzType="primary">{{'CREATION_SITES.add' | translate}}</button>
    </div>
    <hr>
    <div>
        <nz-table #editRowTable [nzPageSize]="6" nzBordered nzSize="small" [nzData]="listOfData">
            <thead>
                <tr>
                    <th nzWidth="15%">{{'CREATION_SITES.mr_mrs_div' | translate}}</th>
                    <th nzWidth="28%">{{'CREATION_SITES.first_name' | translate}}</th>
                    <th nzWidth="28%">{{'CREATION_SITES.last_name' | translate}}</th>
                    <th nzWidth="28%">{{'CREATION_SITES.company_function' | translate}}</th>
                    <th></th><!--{{'DIALOG-MEMBERS.delete' | translate}} -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of editRowTable.data" class="editable-row">
                    <td>
                        <nz-select style="min-width: 6rem;" [(ngModel)]="data.sex">
                            <nz-option [nzValue]="1" [nzLabel]="'CREATION_SITES.male' | translate"></nz-option>
                            <nz-option [nzValue]="2" [nzLabel]="'CREATION_SITES.female' | translate"></nz-option>
                            <nz-option [nzValue]="3" [nzLabel]="'CREATION_SITES.diverse' | translate"></nz-option>
                        </nz-select>
                    </td>
                    <td>
                        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id!)">
                            {{ (data.function) ? data.function : ('CREATION_SITES.enter_here' | translate) }}
                        </div>
                        <input [hidden]="editId !== data.id" type="text"
                            [placeholder]="'CREATION_SITES.enter_here' | translate" nz-input
                            [(ngModel)]="data.firstName" />
                    </td>
                    <td>
                        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id!)">
                            {{ (data.function) ? data.function : ('CREATION_SITES.enter_here' | translate) }}
                        </div>
                        <input [hidden]="editId !== data.id" type="text"
                            [placeholder]="'CREATION_SITES.enter_here' | translate" nz-input
                            [(ngModel)]="data.lastName" />
                    </td>
                    <td>
                        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id!)">
                            {{ (data.function) ? data.function : ('CREATION_SITES.enter_here' | translate) }}
                        </div>
                        <input [hidden]="editId !== data.id" type="text"
                            [placeholder]="'CREATION_SITES.enter_here' | translate" nz-input
                            [(ngModel)]="data.function" />
                    </td>
                    <td>
                        <button class="btn btn-danger" nz-popconfirm [nzIcon]="iconTpl"
                            [nzCancelText]="'DASHBOARD.cancel' | translate" [nzOkText]="'STANDARD.ok' | translate"
                            [nzPopconfirmTitle]="'CREATION_SITES.delete_securely' | translate"
                            (nzOnConfirm)="deleteRow(data.editId!)">
                            <ng-template #iconTpl>
                                <span nz-icon nzType="question-circle-o" style="color: red;"></span>
                            </ng-template>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>

</div>
<div class="mainView header" style="margin-top: auto;">
    <div> <button (click)="closeDialog(false)" class="btn btn-secondary">{{'DASHBOARD.cancel' |translate}}</button>
    </div>
    <div> <button (click)="closeDialog(true)" class="btn btn-success">{{'STANDARD.save' |translate}}</button></div>
</div>