<div class="table-operations header">
  <div>
    <h1 class="paddingSearch">{{'MAIN-LIST.header' | translate}}</h1>
  </div>
  <div>
    <nz-filter-trigger class="paddingSearch" aria-label="asd" [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
      [nzDropdownMenu]="menu">
      <i class="fa fa-search"></i>
    </nz-filter-trigger>
    <button class="btn btn-secondary" (click)="resetSortAndFilters()">{{"MAIN-LIST.filter-clear"| translate}}</button>
  </div>
</div>
<hr>

<nz-table #nzTable nzBordered nzSimple [nzPageSize]="7" nzTableLayout="fixed" [nzSize]="'small'" nzTableLayout="auto"
  [nzData]="listOfDisplayData" class="striped-table">
  <thead>
    <tr>
      <th [nzSortFn]="listOfColumn[0].sortFn" [(nzSortOrder)]="listOfColumn[0].sortOrder"
        [nzFilters]="listOfColumn[0].listOfFilter" [nzFilterFn]="listOfColumn[0].filterFn!">
        {{'MAIN-LIST.'+listOfColumn[0].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[1].sortFn" [(nzSortOrder)]="listOfColumn[1].sortOrder">
        {{'MAIN-LIST.'+listOfColumn[1].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[2].sortFn" [(nzSortOrder)]="listOfColumn[2].sortOrder"
        [nzFilters]="listOfColumn[2].listOfFilter" [nzFilterFn]="listOfColumn[2].filterFn!">
        {{'MAIN-LIST.'+listOfColumn[2].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[3].sortFn" [(nzSortOrder)]="listOfColumn[3].sortOrder"
        [nzFilters]="listOfColumn[3].listOfFilter" [nzFilterFn]="listOfColumn[3].filterFn!">
        {{'MAIN-LIST.'+listOfColumn[3].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[4].sortFn" [(nzSortOrder)]="listOfColumn[4].sortOrder"
        [nzFilters]="listOfColumn[4].listOfFilter" [nzFilterFn]="listOfColumn[4].filterFn!">
        {{'MAIN-LIST.'+listOfColumn[4].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[5].sortFn" [(nzSortOrder)]="listOfColumn[5].sortOrder"
        [nzFilters]="listOfColumn[5].listOfFilter" [nzFilterFn]="listOfColumn[5].filterFn!">
        {{'MAIN-LIST.'+listOfColumn[5].name|
        translate}}</th>
      <th> {{'MAIN-LIST.'+listOfColumn[6].name| translate}}</th>
      <th [nzSortFn]="listOfColumn[7].sortFn" [(nzSortOrder)]="listOfColumn[7].sortOrder"
        [nzFilters]="listOfColumn[7].listOfFilter" [nzFilterFn]="listOfColumn[7].filterFn!">
        {{'MAIN-LIST.'+listOfColumn[7].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[8].sortFn" [(nzSortOrder)]="listOfColumn[8].sortOrder"
        [nzFilters]="listOfColumn[8].listOfFilter" [nzFilterFn]="listOfColumn[8].filterFn!">
        {{'MAIN-LIST.'+listOfColumn[8].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[9].sortFn" [(nzSortOrder)]="listOfColumn[9].sortOrder"
        [nzFilters]="listOfColumn[9].listOfFilter" [nzFilterFn]="listOfColumn[9].filterFn!">
        {{'MAIN-LIST.'+listOfColumn[9].name|
        translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data" matTooltip="Doppelklick um zu bearbeiten ...">
      <td (dblclick)="openCRC(data.id!, data.type!)">{{data.name}}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.dateOfCreation!.toString() | date:'dd.MM.yy' }}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.customerOrCompany }}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.status }}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.vertreter }}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.fachberater }}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.timespan!.start!.toString() | date:'dd.MM.yy' }} - {{
        data.timespan!.end!.toString() | date:'dd.MM.yy' }}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.customer }}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{data.abschlussbericht }}</td>
      <td>
        <span>{{ ((data.type === 0) ? 'MAIN-LIST.tech-req' : (data.type === 1) ? 'MAIN-LIST.work-sem':
          'MAIN-LIST.work-visit') | translate }}</span>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Suche ..." [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="resetSortAndFilters()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>