<div class="table-operations header">
  <div>
    <h1 class="paddingSearch">{{'MAIN-LIST.header' | translate}}</h1>
  </div>
  <div>
    <nz-filter-trigger class="paddingSearch" [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
      [nzDropdownMenu]="menu">
      <i class="fa fa-search"></i>
    </nz-filter-trigger>
    <button class="btn btn-secondary" (click)="resetSortAndFilters()">{{"MAIN-LIST.filter-clear"| translate}}</button>
  </div>
</div>
<hr>

<!-- TODO ngModel mit freigabe button verbinden -->

<nz-table #nzTable nzBordered nzSimple [nzTableLayout]="'fixed'" [nzData]="listOfDisplayData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th [nzSortFn]="listOfColumn[0].sortFn" [(nzSortOrder)]="listOfColumn[0].sortOrder">{{'MAIN-LIST.'+listOfColumn[0].name | translate}}</th>
      <th [nzSortFn]="listOfColumn[1].sortFn" [(nzSortOrder)]="listOfColumn[1].sortOrder">{{'MAIN-LIST.'+listOfColumn[1].name | translate}}</th>
      <th [nzSortFn]="listOfColumn[2].sortFn" [nzFilters]="listOfColumn[2].listOfFilter"
        [nzFilterFn]="listOfColumn[2].filterFn!" [(nzSortOrder)]="listOfColumn[2].sortOrder">{{'MAIN-LIST.'+listOfColumn[2].name | translate}}
      </th>
      <th [nzSortFn]="listOfColumn[3].sortFn" [nzFilters]="listOfColumn[3].listOfFilter"
        [nzFilterFn]="listOfColumn[3].filterFn!" [(nzSortOrder)]="listOfColumn[3].sortOrder">{{'MAIN-LIST.'+listOfColumn[3].name | translate}}
      </th>
      <th [nzSortFn]="listOfColumn[4].sortFn" [nzFilters]="listOfColumn[4].listOfFilter"
        [nzFilterFn]="listOfColumn[4].filterFn!" [(nzSortOrder)]="listOfColumn[4].sortOrder">{{'MAIN-LIST.'+listOfColumn[4].name | translate}}
      </th>
      <th [nzSortFn]="listOfColumn[5].sortFn" [nzFilters]="listOfColumn[5].listOfFilter"
        [nzFilterFn]="listOfColumn[5].filterFn!" [(nzSortOrder)]="listOfColumn[5].sortOrder">{{'MAIN-LIST.'+listOfColumn[5].name | translate}}
      </th>
      <th [nzSortFn]="listOfColumn[6].sortFn" [(nzSortOrder)]="listOfColumn[6].sortOrder">{{'MAIN-LIST.'+listOfColumn[6].name | translate}}
      </th>
      <th [nzSortFn]="listOfColumn[7].sortFn" [nzFilters]="listOfColumn[7].listOfFilter"
        [nzFilterFn]="listOfColumn[7].filterFn!" [(nzSortOrder)]="listOfColumn[7].sortOrder">{{'MAIN-LIST.'+listOfColumn[7].name | translate}}
      </th>
      <th>Type</th>
      <th>Freigabe</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data" matTooltip="Doppelklick um zu bearbeiten ..." >
      <td (dblclick)="openCRC(data.id!, data.type!)">{{data.nr}}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.createDate!.toString().substring(0,10) }}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.status }}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.toha }}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.vertreter }}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.fachberater }}</td>
      <td (dblclick)="openCRC(data.id!, data.type!)">{{ data.timespan!.start!.toString().substring(0,10) }}/{{
        data.timespan!.end!.toString().substring(0,10) }}</td>
      <td style="justify-content: center;" (dblclick)="openCRC(data.id!, data.type!)">
        <div class="centerRow">
          <span *ngIf="data.abschlussberichtFarbe === 0" class="text-success">{{data.abschlussbericht}}</span>
          <span *ngIf="data.abschlussberichtFarbe === -1" class="text-warning">{{data.abschlussbericht}}</span>
          <span *ngIf="data.abschlussberichtFarbe === 1" class="text-danger">{{data.abschlussbericht}}</span>
        </div>
      </td>
      <td>
        <span>{{((data.type === 0)?'MAIN-LIST.tech-req':'MAIN-LIST.work-req') | translate}}</span>
      </td>
      <td>
        <div class="centerRow">
          <button class="btn btn-success freigabe" (click)="release(data.id!)"> Freigeben </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Suche ..." [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>