<div class="table-operations header">
  <div>
    <h1 style="margin: auto;">{{'NAV.MAIN-LIST' | translate}}</h1>
  </div>
  <!-- TODO
  <div>
    <button nz-button (click)="exportToExcel()">Exportieren zu Excel</button>
  </div>
-->
  <div>
    <nz-filter-trigger class="paddingSearch" [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
      [nzDropdownMenu]="menu">
      <i class="fa fa-search"></i>
    </nz-filter-trigger>
    <button style="margin-right: 2px;" class="btn btn-secondary"
      *ngIf="listOfDisplayData.length !== 0 && listOfDisplayData !== null" (click)="getPdf()">PDF</button>
    <button class="btn btn-secondary" (click)="resetSortAndFilters()">{{"MAIN_LIST.reset_filter_sorting"|
      translate}}</button>
  </div>
</div>
<hr>

<nz-table #nzTable nzBordered [nzPageSize]="pageSize" nzShowSizeChanger [nzSize]="'small'" [nzTableLayout]="'auto'"
  [nzData]="listOfDisplayData" [(nzPageIndex)]="currentPage" (nzPageIndexChange)="onPageIndexChange($event)" [nzLoading]="loading">
  <thead>
    <tr>
      <th>
        {{'CREATION_SITES.'+listOfColumn[0].name | translate}}
      </th>
      <th [nzSortFn]="listOfColumn[1].sortFn" [(nzSortOrder)]="listOfColumn[1].sortOrder">
        {{'MAIN_LIST.'+listOfColumn[1].name| translate}}</th>
      <th [nzSortFn]="listOfColumn[2].sortFn" [(nzSortOrder)]="listOfColumn[2].sortOrder"
        [nzFilters]="listOfColumn[2].listOfFilter" [nzFilterFn]="listOfColumn[2].filterFn!">
        {{'MAIN_LIST.'+listOfColumn[2].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[3].sortFn" [(nzSortOrder)]="listOfColumn[3].sortOrder"
        [nzFilters]="listOfColumn[3].listOfFilter" [nzFilterFn]="listOfColumn[3].filterFn!" [nzFilterMultiple]="false">
        {{'MAIN_LIST.'+listOfColumn[3].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[4].sortFn" [(nzSortOrder)]="listOfColumn[4].sortOrder"
        [nzFilters]="listOfColumn[4].listOfFilter" [nzFilterFn]="listOfColumn[4].filterFn!">
        {{'MAIN_LIST.'+listOfColumn[4].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[5].sortFn" [(nzSortOrder)]="listOfColumn[5].sortOrder"
        [nzFilters]="listOfColumn[5].listOfFilter" [nzFilterFn]="listOfColumn[5].filterFn!">
        {{'MAIN_LIST.'+listOfColumn[5].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[6].sortFn" [(nzSortOrder)]="listOfColumn[6].sortOrder">
        {{'MAIN_LIST.'+listOfColumn[6].name| translate}}</th>
      <th [nzSortFn]="listOfColumn[7].sortFn" [(nzSortOrder)]="listOfColumn[7].sortOrder"
        [nzFilters]="listOfColumn[7].listOfFilter" [nzFilterFn]="listOfColumn[7].filterFn!">
        {{'MAIN_LIST.'+listOfColumn[7].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[8].sortFn" [(nzSortOrder)]="listOfColumn[8].sortOrder">
        {{'MAIN_LIST.'+listOfColumn[8].name|
        translate}}</th>
      <th [nzSortFn]="listOfColumn[9].sortFn" [(nzSortOrder)]="listOfColumn[9].sortOrder"
        [nzFilters]="listOfColumn[9].listOfFilter" [nzFilterFn]="listOfColumn[9].filterFn!">
        {{'MAIN_LIST.'+listOfColumn[9].name|
        translate}}</th>
      <th nzWidth="1%" *ngIf="roleService.checkPermission([1,2,7])" 
      [nzFilters]="listOfColumn[10].listOfFilter" [nzFilterFn]="listOfColumn[10].filterFn!">{{'MAIN_LIST.'+listOfColumn[10].name|
        translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data" [ngClass]="data.visible !== true ? 'table-danger': ''">
      <td (dblclick)="openCRC(data,data.id!, data.type!)">{{data.id}}</td>
      <td (dblclick)="openCRC(data,data.id!, data.type!)">{{ (data.dateOfCreation !== '\<Leer\>')?(data.dateOfCreation |
          date:'dd.MM.yy'):'\<Leer\>' }}</td>
      <td (dblclick)="openCRC(data,data.id!, data.type!)">{{ data.customerOrCompany }}</td>
      <td (dblclick)="openCRC(data,data.id!, data.type!)">
        <div class="freigabe">
          <span *ngIf="data.statusGL === 'GL Freigegeben'" class="text-success centerTD">&#10004;</span>
          <span *ngIf="data.statusGL === 'GL Nicht-Freigegeben'" class="text-danger centerTD">&#10008;</span>
          <span *ngIf="data.statusAL === 'AL Freigegeben'" class="text-success centerTD">&#10004;</span>
          <span *ngIf="data.statusAL === 'AL Nicht-Freigegeben'" class="text-danger centerTD">&#10008;</span>
        </div>
      </td>
      <td (dblclick)="openCRC(data,data.id!, data.type!)">{{ data.vertreter }}</td>
      <td (dblclick)="openCRC(data,data.id!, data.type!)">{{ data.fachberater }}</td>
      <td (dblclick)="openCRC(data, data.id!, data.type!)">
        {{ data.timespan!.start === undefined ||data.timespan!.start === '\<Leer\>' ? '\<Leer\>':(data.timespan!.start
            |
            date:'dd.MM.yy') }} -
            {{ data.timespan!.end === undefined || data.timespan!.end === '\<Leer\>' ? '\<Leer\>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;':(data.timespan!.end
                |
                date:'dd.MM.yy') }}
      </td>
      <td (dblclick)="openCRC(data,data.id!, data.type!)">{{ data.customer }}</td>
      <td (dblclick)="openCRC(data,data.id!, data.type!)">{{data.abschlussbericht }}</td>
      <td (dblclick)="openCRC(data,data.id!, data.type!)">
        <span>{{ ((data.type === 1) ? 'MAIN_LIST.advisor_type' : (data.type === 2) ? 'MAIN_LIST.seminar':
          (data.type === 3)?'MAIN_LIST.visit':'BOOKING_REQUEST.booking') | translate }}</span>
      </td>
      <td class="centerDisableButton" *ngIf="roleService.checkPermission([1,2,7])">
        <button nz-button nzType="primary" (click)="changeEditable(data)">
          <div *ngIf="data.visible; else notVisible">
            <i class="fas fa-eye"></i>
          </div>
          <ng-template #notVisible>
            <i class="fas fa-window-close"></i>
          </ng-template>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [placeholder]="'MAIN_LIST.search' | translate" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">{{"MAIN_LIST.search" |
        translate}}</button>
      <button nz-button nzSize="small" (click)="resetSortAndFilters()">{{"MAIN_LIST.reset" | translate}}</button>
    </div>
  </div>
</nz-dropdown-menu>