.paddingSearch {
  padding-right: 2rem;
  margin: auto;
}

.search-box {
  min-width: 260px;
  padding: 8px;
}

.search-box2 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.search-box input {
  margin-bottom: 8px;
  display: block;
}

.search-button {
  margin-right: 8px;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 50%;
  z-index: 1000;
}

.nzselect {
  width: -webkit-fill-available;
}