.center-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    min-height: 12.5rem;
}

.languageBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.paddingSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.displayBySide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1600px) {
    .displayBySide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;

        .smallInput {
            max-width: 12rem;
        }

        .smallInputMittagAnz {
            max-width: 8rem;
        }

        .smallInputSide {
            max-width: 12rem;
        }
    }
}

.mainView {
    margin: 1.5rem;
}

.smallInputMittagAnz {
    padding-right: 0.5rem;
}

.smallInputSide {
    max-width: 13.25rem;
}

.paddingBottom {
    padding-bottom: 1rem;
}
