<div class="header">
    <div>
        <h1 class="paddingSearch">Anforderungen Technologische Unterstützung:
            <button style="margin-left: 10px;" class="btn btn-secondary" matTooltip="interne Notiz">
                <i class="fa fa-comment"></i></button>
        </h1>
        <!-- TODO Click event bei button setzen -->
    </div>
    <div>
        <button class="btn btn-success" (click)="postCustomerRequirement()">Beantragen</button>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header  text-white bg-danger">Anforderungen durch</div>
            <div class="card-body">
                <div class="center-items">
                    <div class="center-items ">
                        <mat-form-field>
                            <mat-label>Töchter/Händler</mat-label>
                            <mat-select [(ngModel)]="inputCustomerRequirement.company" required>
                                <mat-option>--</mat-option>
                                @for (t of toha; track toha) {
                                <mat-option [value]="t.value">{{t.viewValue}}</mat-option>
                                }
                            </mat-select>
                            @if (tohaControl.hasError('required')) {
                            <mat-error>Bitte auswählen</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="center-items ">
                        <mat-form-field>
                            <mat-label>Vertreter</mat-label>
                            <mat-select [(ngModel)]="inputCustomerRequirement.representative" required>
                                <mat-option>--</mat-option>
                                @for (t of toha; track toha) {
                                <mat-option [value]="t.value">{{t.viewValue}}</mat-option>
                                }
                            </mat-select>
                            @if (tohaControl.hasError('required')) {
                            <mat-error>Bitte auswählen</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header  text-white bg-danger">Angeforderter Technologe</div>
            <div class="card-body">
                <div class="center-items">
                    <div class="center-items ">
                        <mat-form-field>
                            <mat-label>Angeforderter Technologe</mat-label>
                            <mat-select [ngModel]="technologists" (valueChange)="changeTechnolgist($event)" required>
                                <mat-option>--</mat-option>
                                @for (t of technologists; track technologists) {
                                <mat-option [value]="t.id">{{t.firstName}} {{t.lastName}}</mat-option>
                                }
                            </mat-select>
                            @if (tohaControl.hasError('required')) {
                            <mat-error>Bitte auswählen</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
                <div class="center-items">
                    <mat-form-field>
                        <mat-label>Von - Bis</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date" [(ngModel)]="inputCustomerRequirement.startDate">
                            <input matEndDate placeholder="End date" [(ngModel)]="inputCustomerRequirement.endDate">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header  text-white bg-danger">Reiseplanung</div>
            <div class="card-body">
                <div class="center-items">
                    <div class="center-items ">
                        <mat-form-field>
                            <mat-label>Flugbuchung</mat-label>
                            <mat-select [(ngModel)]="inputCustomerRequirement.flightBooking" required>
                                <mat-option>--</mat-option>
                                <mat-option [value]="true">Almi</mat-option>
                                <mat-option [value]="false">Kunde</mat-option>
                            </mat-select>
                            @if (tohaControl.hasError('required')) {
                            <mat-error>Bitte auswählen</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="center-items ">
                        <mat-form-field>
                            <mat-label>Hotelbuchung</mat-label>
                            <mat-select [(ngModel)]="inputCustomerRequirement.hotelBooking" required>
                                <mat-option>--</mat-option>
                                <mat-option [value]="true">Almi</mat-option>
                                <mat-option [value]="false">Kunde</mat-option>
                            </mat-select>
                            @if (tohaControl.hasError('required')) {
                            <mat-error>Bitte auswählen</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header  text-white bg-danger">Sonstiges</div>
            <div class="card-body">
                <div class="center-items">
                    <mat-form-field>
                        <mat-label>Sonstige Anmerkungen</mat-label>
                        <input matInput [(ngModel)]="inputCustomerRequirement.furtherNotes">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Ansprechpartner</mat-label>
                        <input matInput [(ngModel)]="inputCustomerRequirement.contact">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<div class="header">
    <h1 style="margin: 0%;">Geplante Kundebesuche</h1>
    <button nz-button (click)="addRow()" nzType="primary">Neuer Kundenbesuch</button>
</div>
<hr>

<!-- TODO Liste untern formatieren sodass sofort etwas dort steht und die input felde rniht zu groß sind bei kleinem
Bildschirm -->
<div class="row">
    <nz-table class="col" #editRowTable nzTableLayout="fixed" nzBordered
        [nzData]="inputCustomerRequirement.customerVisits!">
        <thead>
            <tr>
                <th>Name des Unternehmens</th>
                <th>Kundenummer</th>
                <th>Adresse</th>
                <th>Kontakt Person</th>
                <th>Datum des Besuchs</th>
                <th>Kundenbesuch</th>
                <th>Produktion Tonnen/Tag</th>
                <th>Bearbeiten/Entfernen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of editRowTable.data" class="editable-row">
                <td>
                    <div class="editable-cell" [hidden]="editId === data.editId" (click)="startEdit(data.editId)">
                        @if (data.companyName == '') {
                        }
                        {{ data.companyName }}
                    </div>
                    <input [hidden]="editId !== data.editId" type="text" nz-input [(ngModel)]="data.companyName" />
                </td>
                <td>
                    <div class="editable-cell" [hidden]="editId === data.editId" (click)="startEdit(data.editId)">
                        @if (data.customerNr == '') {

                        }
                        {{ data.customerNr }}
                    </div>
                    <input [hidden]="editId !== data.editId" type="text" nz-input [(ngModel)]="data.customerNr" />
                </td>
                <td>
                    <div class="editable-cell" [hidden]="editId === data.editId" (click)="startEdit(data.editId)">
                        @if (data.address == '') {

                        }
                        {{ data.address }}
                    </div>
                    <input [hidden]="editId !== data.editId" type="text" nz-input [(ngModel)]="data.address" />
                </td>
                <td>
                    <div class="editable-cell" [hidden]="editId === data.editId" (click)="startEdit(data.editId)">
                        @if (data.contactPerson == '') {

                        }
                        {{ data.contactPerson }}
                    </div>
                    <input [hidden]="editId !== data.editId" type="text" nz-input [(ngModel)]="data.contactPerson" />
                </td>
                <td>
                    <div class="editable-cell" [hidden]="editId === data.editId" (click)="startEdit(data.editId)">
                        @if (data.dateOfVisit == null) {

                        }
                        {{data.dateOfVisit}}
                    </div>
                    <input [hidden]="editId !== data.editId" type="date" nz-input [(ngModel)]="data.dateOfVisit" />
                </td>
                <td class="multiple-select">
                    <mat-select multiple placeholder="Auswählen . . . " [ngModel]="data.selection" (selectionChange)="selChange($event, data.editId)">
                        <!-- <mat-option value="1">Vorstellung neuer Produkte</mat-option> -->
                        <mat-option [value]="1">Vorstellung</mat-option>
                        <!-- <mat-option value="2">Problemlösung - bestehende Produkten</mat-option> -->
                        <mat-option [value]="2">Problemlösung</mat-option>
                        <mat-option [value]="3">Rezepturopt.</mat-option>
                        <mat-option [value]="4">Musterproduktion</mat-option>
                        <mat-option [value]="5">Schulung</mat-option>
                    </mat-select>
                </td>
                <td>
                    <div class="editable-cell" [hidden]="editId === data.editId" (click)="startEdit(data.editId)">
                        @if (data.productionAmount == null) {
                        }
                        {{data.productionAmount}}
                    </div>
                    <input [hidden]="editId !== data.editId" type="text" nz-input [(ngModel)]="data.productionAmount" />
                </td>
                <td class="flugHotel">
                    <button matTooltip="Bearbeiten" class="btn btn-success" (click)="startEdit(data.editId)"
                        [hidden]="editId === data.editId">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button matTooltip="Speichern" class="btn btn-success" (click)="stopEdit()"
                        [hidden]="editId !== data.editId">
                        <i class="fa fa-save"></i>
                    </button>
                    <button matTooltip="Entfernen" class="btn btn-danger" nz-popconfirm nzPopconfirmShowArrow="false"
                        nzPopconfirmTitle="Sind Sie sicher?" (nzOnConfirm)="deleteRow(data.editId)">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-success" matTooltip="Abschlussbericht" (click)="openDialog(data)">
                        <i class="fa fa-file"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
