.center-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    min-height: 15em;
}

.flugHotel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 1400px) {
    input {
        width: 8rem;
    }
}


.editable-row:hover .editable-cell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

.input-label {
    display: inline-block;
    padding: 4px 11px;
    font-size: 14px;
    line-height: 1.5715;
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    cursor: not-allowed;
    width: 100%;
    box-sizing: border-box;
}

.buttonsStyle{
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

/* Stellen Sie sicher, dass Sie :host ::ng-deep verwenden, um tief in die Komponentenstruktur einzudringen */
:host ::ng-deep .cdk-overlay-pane .mat-mdc-select-panel-above {
    width: 300px;bottom: 155px;left: 1038.11px;}