.center-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.paddingSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.freigabenHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    min-height: 15em;
}

.flugHotel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 1400px) {
    input {
        width: 8rem;
    }
}

.editable-cell {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 2rem;
    min-width: 10rem;
    padding: 4px 11px;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    border-radius: 2px;
    transition: all .3s;
}

.editable-row:hover .editable-cell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.notizHeader {
    display: flex;
}

.input-label {
    display: inline-block;
    padding: 4px 11px;
    font-size: 14px;
    line-height: 1.5715;
    color: rgba(0, 0, 0, 0.25);
    /* Typically light gray text color for disabled elements */
    background-color: #f5f5f5;
    /* Light gray background for disabled nz-input */
    border: 1px solid #d9d9d9;
    /* Light gray border */
    border-radius: 2px;
    cursor: not-allowed;
    /* Cursor indicating that the element is not interactive */
    width: 100%;
    box-sizing: border-box;
}