<div class="mainView">
    <div class="paddingSearch">
        <div>
            <h1 class="paddingSearch">{{"DASHBOARD.entry_for" | translate}}:
                {{ getFirstLetter(inputDate.requestedTechnologist?.firstName!)+"." }}
                {{inputDate.requestedTechnologist?.lastName}}</h1>
        </div>
        <div *ngIf="inputDate.id !== undefined && inputDate.id !== null">
            <button matTooltip="{{ 'STANDARD.remove' | translate }}" class="btn btn-danger btn-sm" nz-popconfirm
                nzPopconfirmShowArrow="false" [nzIcon]="iconTpl" [nzCancelText]="'DASHBOARD.cancel' | translate"
                [nzOkText]="'STANDARD.ok' | translate" [nzPopconfirmTitle]="'STANDARD.are_you_sure' | translate"
                (nzOnConfirm)="deleteEntry(inputDate)">
                <ng-template #iconTpl>
                    <span nz-icon nzType="question-circle-o" style="color: red;"></span>
                </ng-template>
                <i class="fa fa-trash"></i>
            </button>

        </div>
    </div>
    <hr>

    <div class="center-items">
        <mat-form-field>
            <mat-label>{{"DASHBOARD.assigned_advisor" | translate}}</mat-label>
            <mat-select
                [ngModel]="(inputDate.requestedTechnologist === undefined)?undefined:inputDate.requestedTechnologist.id"
                (valueChange)="changeTechnolgist($event)" required>
                <mat-option>--</mat-option>
                @for (t of technologists; track technologists) {
                <mat-option [value]="t.technologist.id">{{t.technologist.firstName}} {{t.technologist.lastName}}</mat-option>
                }
            </mat-select>
            <mat-error>{{"STANDARD.please_select" | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{"DASHBOARD.reason" | translate}}</mat-label>
            <mat-select required [(ngModel)]="inputDate.reason" name="resons">
                @for (re of reasons; track reasons) {
                <mat-option [value]="re">{{re}}</mat-option>
                }
                <div class="paddings">
                    <textarea style="height: 2rem" type="text" [(ngModel)]="addItem" name="addItem"></textarea>
                    <button style="height: 2rem;" type="button" *ngIf="addItem" mat-raised-button
                        (click)="addToList(addItem)"><i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </mat-select>
            <mat-error>{{"STANDARD.please_select" | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{"DASHBOARD.from" | translate}}</mat-label>
            <input required matInput [matDatepicker]="picker1" type="text" [(ngModel)]="inputDate.startDate"
                name="start">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{"DASHBOARD.to" | translate}}</mat-label>
            <input required matInput [matDatepicker]="picker2" type="text" [(ngModel)]="inputDate.endDate" name="end">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
    <br>

    <div class="header">
        <div> <button (click)="closeDialog()" class="btn btn-secondary">{{"DASHBOARD.cancel" | translate}}</button>
        </div>
        <div> <button (click)="save()" class="btn btn-success">{{"STANDARD.save" | translate}}</button></div>
    </div>
</div>