<div class="table-operations header">
    <div>
        <h1 class="paddingSearch">{{'ABSCHLUSS-BERICHT-LISTE.header' | translate}}</h1>
    </div>
    <div>
        <nz-filter-trigger class="paddingSearch" [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
            [nzDropdownMenu]="menu">
            <i class="fa fa-search"></i>
        </nz-filter-trigger>
        <button class="btn btn-secondary" (click)="resetSortAndFilters()">{{'ABSCHLUSS-BERICHT-LISTE.filter-clear' |
            translate}}</button>
    </div>
</div>
<hr>

<nz-table #nzTable nzBordered nzSimple [nzPageSize]="7" nzTableLayout="fixed" nzTableLayout="auto"
    [nzData]="listOfDisplayData" class="striped-table">
    <thead>
        <tr>
            <th [nzSortFn]="listOfColumn[0].sortFn" [(nzSortOrder)]="listOfColumn[0].sortOrder"
                [nzFilters]="listOfColumn[0].listOfFilter" [nzFilterFn]="listOfColumn[0].filterFn!">
                {{'ABSCHLUSS-BERICHT-LISTE.'+listOfColumn[0].name| translate}}
            </th>
            <th [nzSortFn]="listOfColumn[1].sortFn" [(nzSortOrder)]="listOfColumn[1].sortOrder">
                {{'ABSCHLUSS-BERICHT-LISTE.'+listOfColumn[1].name| translate}}
            </th>
            <th [nzSortFn]="listOfColumn[2].sortFn" [(nzSortOrder)]="listOfColumn[2].sortOrder"
                [nzFilters]="listOfColumn[2].listOfFilter" [nzFilterFn]="listOfColumn[2].filterFn!">
                {{'ABSCHLUSS-BERICHT-LISTE.'+listOfColumn[2].name| translate}}
            </th>
            <th [nzSortFn]="listOfColumn[3].sortFn" [(nzSortOrder)]="listOfColumn[3].sortOrder">
                {{'ABSCHLUSS-BERICHT-LISTE.'+listOfColumn[3].name| translate}}
            </th>
            <th [nzSortFn]="listOfColumn[4].sortFn" [(nzSortOrder)]="listOfColumn[4].sortOrder"
                [nzFilters]="listOfColumn[4].listOfFilter" [nzFilterFn]="listOfColumn[4].filterFn!">
                {{'ABSCHLUSS-BERICHT-LISTE.'+listOfColumn[4].name| translate}}
            </th>
            <th [nzSortFn]="listOfColumn[5].sortFn" [(nzSortOrder)]="listOfColumn[5].sortOrder">
                {{listOfColumn[5].name| translate}}
            </th>
            <th [nzSortFn]="listOfColumn[6].sortFn" [(nzSortOrder)]="listOfColumn[6].sortOrder"
                [nzFilters]="listOfColumn[6].listOfFilter" [nzFilterFn]="listOfColumn[6].filterFn!">
                {{listOfColumn[6].name| translate}}
            </th>
            <th [nzSortFn]="listOfColumn[7].sortFn" [(nzSortOrder)]="listOfColumn[7].sortOrder">
                {{'ABSCHLUSS-BERICHT-LISTE.'+listOfColumn[7].name|translate}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td>{{ data.company }}</td>
            <td>{{data.dateOfVisit | date:'dd.MM.yy'}}</td>
            <td>{{ data.technologist }}</td>
            <td>{{ data.toBeCompletedBy | date:'dd.MM.yy' }}</td>
            <td>{{ data.representative }}</td>
            <td>{{data.customerContactDate | date:'dd.MM.yy'}}</td>
            <td>
                <span style="display: flex;
                flex-direction: row;
                justify-content: center;" *ngIf="data.abschlussberichtFinished === 'Ja'" class="text-success">&#10004;</span>
                <span style="display: flex;
                flex-direction: row;
                justify-content: center;" *ngIf="data.abschlussberichtFinished === 'Nein'" class="text-danger">&#10008;</span>
            </td>
            <td>{{getArticleListName(data.article)}}</td>
        </tr>
    </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="{{'ABSCHLUSS-BERICHT-LISTE.searchPoints' | translate}}"
                [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()"
                class="search-button">{{'ABSCHLUSS-BERICHT-LISTE.search' | translate}}</button>
            <button nz-button nzSize="small" (click)="resetSortAndFilters()">{{'ABSCHLUSS-BERICHT-LISTE.reset' |
                translate}}</button>
        </div>
    </div>
</nz-dropdown-menu>