ausgesetzt
<!-- 

    <div class="table-operations header">
    <div>
        <h1 class="paddingSearch">Abschlussberichte</h1>
    </div>
    <div>
        <nz-filter-trigger class="paddingSearch" [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
            [nzDropdownMenu]="menu">
            <i class="fa fa-search"></i>
        </nz-filter-trigger>
        <button class="btn btn-secondary" (click)="resetSortAndFilters()">Filter/Sortierung aufheben</button>
    </div>
</div>
<hr>

<nz-table #nzTable nzBordered nzSimple nzSize="default" nzTableLayout="auto" [nzData]="listOfDisplayData"
    nzTableLayout="fixed">
    <thead>
        <tr>
            <th [nzSortFn]="listOfColumn[0].sortFn" [(nzSortOrder)]="listOfColumn[0].sortOrder">{{listOfColumn[0].name}}
            </th>
            <th [nzSortFn]="listOfColumn[1].sortFn" [(nzSortOrder)]="listOfColumn[1].sortOrder">{{listOfColumn[1].name}}
            </th>
            <th [nzSortFn]="listOfColumn[2].sortFn" [nzFilters]="listOfColumn[2].listOfFilter"
                [nzFilterFn]="listOfColumn[2].filterFn!" [(nzSortOrder)]="listOfColumn[2].sortOrder">
                {{listOfColumn[2].name}}
            </th>
            <th [nzSortFn]="listOfColumn[3].sortFn" [nzFilters]="listOfColumn[3].listOfFilter"
                [nzFilterFn]="listOfColumn[3].filterFn!" [(nzSortOrder)]="listOfColumn[3].sortOrder">
                {{listOfColumn[3].name}}
            </th>
            <th [nzSortFn]="listOfColumn[4].sortFn" [nzFilters]="listOfColumn[4].listOfFilter"
                [nzFilterFn]="listOfColumn[4].filterFn!" [(nzSortOrder)]="listOfColumn[4].sortOrder">
                {{listOfColumn[4].name}}
            </th>
            <th [nzSortFn]="listOfColumn[5].sortFn" [nzFilters]="listOfColumn[5].listOfFilter"
                [nzFilterFn]="listOfColumn[5].filterFn!" [(nzSortOrder)]="listOfColumn[5].sortOrder">
                {{listOfColumn[5].name}}
            </th>
            <th [nzSortFn]="listOfColumn[6].sortFn" [(nzSortOrder)]="listOfColumn[6].sortOrder">{{listOfColumn[6].name}}
            </th>
            <th [nzSortFn]="listOfColumn[7].sortFn" [nzFilters]="listOfColumn[7].listOfFilter"
                [nzFilterFn]="listOfColumn[7].filterFn!" [(nzSortOrder)]="listOfColumn[7].sortOrder">
                {{listOfColumn[7].name}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td>{{ data.customerNr }}</td>
            <td>{{ data.createDate.getDay() }}/{{ data.createDate.getDate()
                }}/{{
                data.createDate.getFullYear() }}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.toha }}</td>
            <td>{{ data.vertreter }}</td>
            <td>{{ data.fachberater }}</td>
            <td>{{ data.timespan.days }}/{{ data.timespan.hours }}</td>
            <td class="centerRow">
                <span *ngIf="data.abschlussbericht" class="text-success">&#10004;</span>
                <span *ngIf="!data.abschlussbericht" class="text-danger">&#10008;</span>
            </td>
        </tr>
    </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Suche ..." [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
    </div>
</nz-dropdown-menu>
-->