#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/
/uploads/booking/3/example (1).pdf
/uploads/booking/3/example (2).pdf
/uploads/booking/3/example (3).pdf
/uploads/final/1/example (1).pdf
/uploads/final/1/example (2).pdf
/uploads/final/1/example (3).pdf
/uploads/
/upload/requesttooldaten/booking/151/main - Kopie.jpg
/upload/requesttooldaten/booking/151/main - Kopie (2).jpg
/upload/requesttooldaten/booking/151/main - Kopie (2) - Kopie.jpg
/upload/requesttooldaten/booking/151/main - Kopie (3).jpg
/upload/requesttooldaten/booking/151/main - Kopie - Kopie.jpg
/upload/requesttooldaten/final/1/main - Kopie.jpg
/upload/requesttooldaten/final/1/main - Kopie (2).jpg
/upload/requesttooldaten/final/1/main - Kopie (2) - Kopie.jpg
/upload/requesttooldaten/final/1/main - Kopie (3).jpg
/upload/requesttooldaten/final/1/main - Kopie - Kopie.jpg
