<div class="header">
    <div>
        <h1 class="paddingSearch" style="margin-bottom: 0;">{{'CREATE-TECHNOLOGIST.header' | translate}}</h1>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-danger">{{'CREATE-TECHNOLOGIST.allg' | translate}}</div>
            <div class="card-body">
                <mat-form-field class="smallInput">
                    <mat-label>{{'CREATE-TECHNOLOGIST.firstName' | translate}}</mat-label>
                    <input required matInput type="text" [(ngModel)]="inputTechnologist.firstName" name="firstName">
                </mat-form-field>
                <mat-form-field class="smallInput">
                    <mat-label>{{'CREATE-TECHNOLOGIST.lastName' | translate}}</mat-label>
                    <input required matInput type="text" [(ngModel)]="inputTechnologist.lastName" name="lastName">
                </mat-form-field>
                <div class="displayBySide">
                    <label class="languageBox">{{'CREATE-TECHNOLOGIST.calendarColor' | translate}}
                        <nz-color-picker id="color" [(ngModel)]="inputTechnologist.color"></nz-color-picker>
                    </label>
                    <label class="languageBox">{{'CREATE-TECHNOLOGIST.active' | translate}}
                        <mat-checkbox color="warn" [(ngModel)]="inputTechnologist.active"></mat-checkbox>
                    </label>
                </div>
                <div class="displayBySide">
                    <button class="btn btn-danger" matTooltip="{{'CREATE-TECHNOLOGIST.cancel' | translate}}"
                        [hidden]="inputTechnologist.id===0" (click)="cancelEdit()"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success" matTooltip="{{'CREATE-TECHNOLOGIST.safe' | translate}}"
                        (click)="postTechnologist()"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <nz-table #editRowTable [nzPageSize]="9" nzBordered [nzData]="technologistList">
            <thead>
                <tr>
                    <th>{{'CREATE-TECHNOLOGIST.id' | translate}}</th>
                    <th>{{'CREATE-TECHNOLOGIST.firstName' | translate}}</th>
                    <th>{{'CREATE-TECHNOLOGIST.lastName' | translate}}</th>
                    <th>{{'CREATE-TECHNOLOGIST.calendarColor' | translate}}</th>
                    <th>{{'CREATE-TECHNOLOGIST.active' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr matTooltip="{{'CREATE-TECHNOLOGIST.edit' | translate}}"
                    *ngFor="let technologist of editRowTable.data" (click)="editRow(technologist.id!, 0)">
                    <td>{{technologist.id}}</td>
                    <td>{{technologist.firstName}}</td>
                    <td>{{technologist.lastName}}</td>
                    <td>
                        <div [ngStyle]="{'background-color': technologist.color}" style="width: 1rem;
                        height: 1rem; border-radius: 20%;"></div>
                    </td>
                    <td>
                        <span *ngIf="technologist.active" class="text-success">&#10004;</span>
                        <span *ngIf="!technologist.active" class="text-danger">&#10005;</span>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>